@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Nunito&display=swap');




*{
    margin:0 ;
    box-sizing: border-box;
    letter-spacing: 0.5px;
    text-decoration: none;
}

body{
    font-family: 'Nunito', sans-serif;
    background: radial-gradient(circle, rgba(226,226,230,1) 0%, rgba(220,220,233,1) 35%, rgba(255,255,255,1) 100%);
background-position: center;
background-attachment: fixed;
}




  .section2 .box3 table .me3{
    background-color: #797979;
    border-radius: 15px;
  }
  .section2 .box3 table .me3 td a {
      color: rgb(255, 255, 255);
  }



  

.div-section2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    padding: 20px;
    
}
.div-section2 p {
    text-align: center;
    padding: 5px 30px;
    background-color: #c7bd00;
    color: #0050c7;
    font-size: 18px;
    border-radius: 10px;
    display: inline;
}

.div-section2 h2{
    font-weight: bolder;
    width: 80%;
    border-radius: 10px;
    background-color: #002233;
    padding: 5px 40px;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
}
.div-section2 h4{
    font-weight: bolder;
    width: 70%;
    border-radius: 10px;
    background-color: rgb(0, 210, 0);
    padding: 7px 20px;
    color: #ffffff;
    text-align: center;
}
.div-section2 .h4{
    font-weight: bolder;
    width: 70%;
    border-radius: 10px;
    background-color: #ff0000;
    padding: 7px 20px;
    color: #ffffff;
    text-align: center;
}

.div-section2 .container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98%;
    flex-wrap: wrap;
    margin-top: 20px;
}
.div-section2 .container  .info{
    color: #002233c9;
    font-style: italic;
}
.div-section2 .container  .info strong{
    color: #ffffff;
    font-style: italic;
    padding: 2px 5px;
    background-color: rgba(255, 0, 0, 0.443);
}
.div-section2 .container .items{
    width: 270px;
    padding: 5px 10px;
    border-radius: 7px;
    border: 1px solid #a5a4a494;
    margin:0 10px ;
    position: relative;
    height: 450px;
    background-color: #ffffff;
    box-shadow: 4px 4px 11px 0 rgb(215, 215, 215);
    transition: all 0.4s ease;
    position: relative;
    overflow: hidden;
}
.div-section2 .container .items::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0%;
    bottom: 0%;
    width: 100%;
    height: 0;
    background-color: #ababab3a;
    transition: all 0.5s;
    z-index: -1;
}

.div-section2 .container .items:hover{
    transform: scale(1.03);
}

.div-section2 .container .items:hover::after{
height: 100%;
}

.div-section2 .container .items img{
    height: 130px;
    width: 130px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    border: 2px solid #d1d1d1;
}
.div-section2 .container .items ul{
    padding: 10px;
}
.div-section2 .container .items ul li{
    font-size: 14px;
    list-style: none;
    margin-bottom: 5px;
}
.div-section2 .container .items span{
    font-size: 12px;
    margin-bottom: 3px;
    padding: 2px 5px;
    background-color: #d1d1d1;
    display:inline-block;
    margin-left: 10px;
    border-radius: 7px;
}
.div-section2 .container .items h3{
    font-size: 15px;
    font-weight: 400;
}
.div-section2 .container .items h3 strong{
    font-weight: bold;
}
.div-section2 .container .items .container-box_btn{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%);
}
.div-section2 .container .items .btn1{
    margin: 0 auto;
    display: block;
    background-color: #002233;
    border-radius: 5px;
    text-align: center;
    border: none;
    padding: 2px 15px;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
}
.div-section2 .container .items .btn1 img{
    height: 25px;
    width: 25px;
    margin-right: 5px;
}
.div-section2 .container .items .btn1:hover{
    background-color: #0066FF;
}
.div-section2 .container .items .btn1 a{
    color: #ffffff;

}

.div-section2 .container .items .btn11{
  margin: 0 auto;
  display: block;
  background-color: #0481e0;
  border-radius: 5px;
  border: none;
  padding: 2px 20px;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.div-section2 .container .items .btn11 img{
  height: 30px;
  width: 30px;
  margin-right: 5px;
}
.div-section2 .container .items .btn11:hover{
  background-color: #002233;
}
.div-section2 .container .items .btn11 a{
  color: #ffffff;

}

.div-section2 .container .items .box-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 6px ;
}
.div-section2 .container .items .box-btn a{
    margin:0 5px;
    color: #ffffff;
    border-radius: 5px;
    border: none; 
    padding: 2px 10px;
}
.div-section2 .container .items .box-btn .btn2{
background-color: #14c700;
text-transform: capitalize;
}
.div-section2 .container .items .box-btn .btn3{
    background-color: #ff0000;
    text-transform: capitalize;
}

.div-section2 .container .items .h51{
    position: absolute;
    width: 400px;
    padding: 5px 20px;
    font-size: 14px;
    background-color: rgba(0, 210, 0, 0.535);
    color: #ffffff;
    font-weight: 600;
   top: 40px;
   text-transform: capitalize;
    transform:rotate(45deg);
    text-align: center;
   
  }
  .div-section2 .container .items .h52{
    position: absolute;
    width: 400px;
    padding: 5px 20px;
    font-size: 14px;
    background-color: rgba(210, 14, 0, 0.573);
    color: #ffffff;
    font-weight: 600;
   top: 40px;
   text-transform: uppercase;
    transform:rotate(45deg);
    text-align: center;
    text-transform: capitalize;
  }
  .div-section2 .container .items .h53{
    position: absolute;
    width: 400px;
    padding: 5px 20px;
    font-size: 14px;
    background-color: #0022338b;
    color: #ffffff;
    font-weight: 600;
   top: 40px;
   text-transform: uppercase;
    transform:rotate(45deg);
    text-align: center;
    text-transform: capitalize;
  }

  .div-section2  .box22{
    width: 70%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.div-section2  .box22 span{
   height: 30px;
   width: 40px;
   background-color: #002233;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 7px;
   transition: all 0.3s ease-in-out;
}
.div-section2  .box22 span:hover{
    transform: scale(1.1);
    background-color: #e4144d;
}
.div-section2  .box22 span{
    color: white;
    font-size: 25px;
}
.div-section2  .box22 .count{
    color: white;
    font-size: 16px;
    background-color: #797979;
    padding: 5px 2px;
    height: 20px;
}

  @media screen and (max-width : 1050px) {
    .div-section2 .container{
        width: 100%;
    }
  }



  .section3{
    margin-left: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background: url(../image/bg_bggenerator_com.jpg); */
    background: radial-gradient(circle, rgba(226,226,230,1) 0%, rgba(220,220,233,1) 35%, rgba(255,255,255,1) 100%);
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    padding: 50px 0;
  }
  
  .section3 .img222{
    position: fixed;
    top: 50%;
    left: 20px;
    height: 50px;
    width: 50px;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 50%;
    z-index: 5;
    display: none;
  }
  @media screen and (max-width : 1400px) {
    .section3 .img222{
      display: none;
    }
  }
  @media screen and (max-width : 1050px) {
    .section3 .img222{
      position: fixed;
      top: 50%;
      left: 20px;
      height: 50px;
      width: 50px;
      background-color: #ffffff;
      cursor: pointer;
      border-radius: 50%;
      z-index: 5;
      display: block;
    }
  }
  
  
  .section3 .box1{
    width: 80%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 7px 7px 2px rgb(136, 136, 136);
  }
  .section3 .box1 h1{
    width: 35%;
    height: 100%;
    font-weight: bolder;
    background-color: #002233;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px 4px 10px #d1d1d1;
    font-size: 25px;
    padding: 0 20px;
  }
  .section3 .box1 .container_slider{
    width: 65%;
    height: 300px !important;
    border: none;
    overflow: hidden;
    margin-top: 10px;
  
  }
  .section3 .box1 .container_slider img{
    width: 100%;
    height:300px;
    object-fit: cover;
  }
  
  .section3 .box2{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    background-color: #ffffff;
  }
  .section3 .box2 p{
    font-size: 16px;
    color: #002233cb;
    border-left: 4px solid orange;
    padding: 20px 30px;
    display: flex;
    align-items: center;
  }
  .section3 .box2 p span{
    height: 40px;
    width: 40px;
    max-width: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:2px dotted #002233 ;
    border-radius: 50%;
    margin-right: 30px;
  }
  
  @media screen and (max-width : 1050px) {
    .section3{
      margin-left: 0px;
      padding:0 0 0 0;
    }
  
    .section3 .box1{
      width: 99%;
      height: 300px;
      margin-top: 0;
    }
    .section3 .box1 h1{
      width: 25%;
      height: 100%;
     font-size: 18px;
      padding: 0 10px;
    }
    .section3 .box1 .container_slider{
      width: 75%;
      height: 300px !important;
      border: none;
      overflow: hidden;
    }
    .section3 .box1 .container_slider img{
      width: 100%;
      height:300px;
      object-fit: cover;
    }
  
    .section3 .box2{
      width: 90%;
      margin-top: 20px;
    }
    .section3 .box2 p{
      font-size: 14px;
    }
    .section3 .box2 p span{
      height: 30px;
      width: 30px;
      max-width: 30px;
      min-width: 30px;
    }
    .section3 .box2 p strong{
      margin-left: 10px;
    }
  }
  @media screen and (max-width : 600px) {
    .section3{
      margin-left: 0px;
    }
  
    .section3 .box1{
      width: 99%;
      height: 250px;
      margin-top: 0;
    }
    .section3 .box1 h1{
      width: 23%;
      height: 100%;
     font-size: 15px;
      padding: 0 10px;
    }
    .section3 .box1 .container_slider{
      width: 75%;
      height: 250px !important;
      border: none;
      overflow: hidden;
    }
    .section3 .box1 .container_slider img{
      width: 100%;
      height:250px;
      object-fit: cover;
    }
  
    .section3 .box2{
      width: 90%;
      margin-top: 20px;
    }
    .section3 .box2 p{
      font-size: 14px;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    .section3 .box2 p span{
      height: 30px;
      width: 30px;
      max-width: 30px;
      min-width: 30px;
    }
    .section3 .box2 p strong{
      margin-left: 10px;
    }
  }
