@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Nunito&display=swap");

* {
  margin: 0;
  text-decoration: none;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
  background-color: #e1e2e275;
}

.section2 .box3 table .me {
  background-color: #ffffff;
  border-radius: 15px;
}
.section2 .box3 table .me td a {
  color: black;
}
.section2 .box3 .tr10 {
  background-color: #797979;
}
.section2 .box3 .tr10 {
  color: #ffffff;
}

.section3 {
  margin-left: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background: radial-gradient(circle, rgba(226,226,230,1) 0%, rgba(220,220,233,1) 35%, rgba(255,255,255,1) 100%); */

  background-position: center;
  background-attachment: fixed;
  position: relative;
  margin-top: 10px;
}

@media screen and (max-width: 1050px) {
  .section3 {
    width: 100%;
    padding-left: 50px;
    margin-left: 0;
  }
}

.section3 .box6 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
}

.section3 .box6 .h31 {
  font-size: 25px;
  font-weight: 800;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #505050;
  color: #ffffff;
  padding: 5px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px #0022336c;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.section3 .box6 .p1 {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.section3 .box6 h3 {
  background-color: #002233;
  color: #ffffff;
  font-weight: 500;
  padding: 5px 20px;
  text-align: center;
  width: 300px;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 20px;
  margin-left: -40px;
  margin-bottom: 10px;
}

.section3 .box6 .container_accept {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  flex-wrap: wrap;
  padding: 10px 10px;
  background-color: #ffffff;
}

.section3 .box6 .accept {
  width: 400px;
  border: 1px solid #cbcbcb;
  border-radius: 7px;
  overflow: hidden;
  background-color: #ffffff;
  position: relative;
  padding: 10px 20px;
  box-shadow: 0 0 10px 1px #0022336c;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px 20px;
  min-width: 300px;
}

.section3 .box6 .accept .img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.section3 .box6 .accept .box {
  margin: 10px 0;
  width: 100%;
}

.section3 .box6 .accept .box h4 {
  font-size: 15px;
  font-weight: 600;
}

.section3 .box6 .accept .box h5 {
  font-size: 13px;
  padding: 3px 10px;
  font-weight: 400;
  box-shadow: 0 0 5px 1px #e9e9e9;
  border-radius: 5px;
  background-color: #eeeeee;
  margin-top: 10px;
  margin-bottom: 10px;
}

.section3 .box6 .accept .box h5 span {
  font-weight: 600;
}

.section3 .box6 .accept .info {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.section3 .box6 .accept .info p {
  font-size: 12px;
  margin: 5px 10px;
}

.section3 .box6 .accept .lien {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.section3 .box6 .accept .lien a {
  margin: 0 10px;
  font-size: 13px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section3 .box6 .accept .lien a img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.section3 .box6 .accept .lien .b {
  background-color: #06c5ff;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
}

.section3 .box6 .accept .lien .a {
  background-color: #002233;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
}

.section3 .box6 .accept .h51 {
  background-color: #1c9711;
  padding: 5px 10px;
  border-radius: 5px;
  color: #ffffff;
}

@media screen and (max-width: 1050px) {
  .section3 .box6 .container_accept {
    flex-wrap: wrap;
    padding: 10px 5px;
    width: 98%;
  }

  .section3 .box6 .accept {
    width: 300px;
  }
}
