@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Nunito&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 0.5px;
  text-decoration: none;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #e1e2e275;
  overflow-x: hidden;
}

.section2 .box3 .me3 {
  background-color: #797979;
}

.section2 .box3 .me3 span {
  color: rgb(255, 255, 255);
}

.div-section2 {
  display: none; /* Changed to hide by default */
  width: 100%;
  padding: 20px 10px;
  border: 1.5px dotted #797979;
  border-radius: 10px;
  background-color: #ffffff;
  position: relative;
}

.div-section2 #img {
  width: 25px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  z-index: 10;
}

.div-section2 p {
  text-align: center;
  padding: 5px 30px;
  background-color: #c7bd00;
  color: #0050c7;
  font-size: 18px;
  border-radius: 10px;
  display: inline;
}

.div-section2 h2 {
  font-weight: bolder;
  width: 60%;
  border-radius: 10px;
  background-color: #002233;
  padding: 5px 40px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  margin: 0 auto;
}

.div-section2 h4 {
  font-weight: bolder;
  width: 70%;
  border-radius: 10px;
  background-color: rgb(0, 210, 0);
  padding: 7px 20px;
  color: #ffffff;
  text-align: center;
}

.div-section2 .h4 {
  font-weight: bolder;
  width: 70%;
  border-radius: 10px;
  background-color: #ff0000;
  padding: 7px 20px;
  color: #ffffff;
  text-align: center;
}

.div-section2 h5 {
  text-align: center;
  color: #006dc7;
  font-size: 16px;
  padding: 2px 10px;
}

.section3 .categorie {
  width: 80%;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px #00000036;
}

.section3 .categorie a {
  padding: 2px 7px;
  font-size: 16px;
  color: #002233;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #b7b7b7;
  border-radius: 5px;
  margin: 5px 10px;
  box-shadow: 0 0 3px 1px #00000036;
}

.section3 .categorie a span {
  background-color: #797979;
  color: #ffffff;
  padding: 1px 3px;
  margin: 0 7px;
  border-radius: 3px;
  font-size: 13px;
}

.section3 .acc {
  display: block;
}

@media screen and (max-width: 1050px) {
  .div-section2 .container {
    width: 100%;
  }
}

.section3 {
  margin-left: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  margin-top: 10px;
}

@media screen and (max-width: 1050px) {
  .section3 {
    width: 100%;
    padding-left: 0px;
    margin-left: 0;
  }
}

.section3 .box1 {
  width: 80%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 7px 7px 2px rgb(136, 136, 136);
}

.section3 .box1 h1 {
  width: 35%;
  height: 100%;
  font-weight: bolder;
  background-color: #002233;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 4px 10px #d1d1d1;
  font-size: 25px;
  padding: 0 20px;
}

.section3 .box1 .container_slider {
  width: 65%;
  height: 300px !important;
  border: none;
  overflow: hidden;
  margin-top: 10px;
}

.section3 .box1 .container_slider img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.section3 .box2 {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px #00000036;
}

.section3 .box2 p {
  font-size: 11px;
  color: #002233cb;
  border-left: 4px solid orange;
  padding: 20px 10px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: start;
  display: flex;
  text-align: start;
}

.section3 .box2 p div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section3 .box2 p strong {
  width: 100px;
  max-width: 80px;
  min-width: 80px;
}

.section3 .box2 p span {
  height: 30px;
  width: 30px;
  max-width: 30px;
  min-width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dotted #002233;
  border-radius: 50%;
  margin-right: 30px;
}

.section3 .categorie {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: start;
}

.section3 .categorie h2 {
  padding: 5px 10px;
  font-size: 22px;
  border-bottom: 2px solid #3e3d3d6a;
  width: 90%;
  color: #3d3c3c;
}

.section3 .categorie p {
  margin-top: 10px;
  color: #a54040;
}

.section3 .categorie ul {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.section3 .categorie ul li {
  font-size: 16px;
  color: #3d3c3c;
  background-color: #ffffff;
  list-style: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin: 2px 20px;
  transition: all 0.3s ease;
  position: relative;
  width: 70%;
}

.section3 .categorie ul li a:hover {
  background-color: #2c2c2c;
  color: #ffffff;
}

.section3 .categorie ul li a {
  padding: 10px 15px;
  transition: all 0.3s ease;
  position: relative;
  padding-right: 30px;
  width: 100%;
}

.section3 .categorie ul li span {
  color: #fefefefe;
  background-color: #376bfa;
  padding: 3px 7px;
  border-radius: 10px;
  font-weight: 600;
  margin-left: 10px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 1050px) {
  .section3 .categorie {
    width: 98%;
  }

  .section3 .categorie p {
    margin-top: 10px;
    color: #a54040;
  }

  .section3 .categorie ul {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
  }

  .section3 .categorie ul li {
    font-size: 14px;
    color: #3d3c3c;
    margin: 7px 20px;
  }
}

@media screen and (max-width: 650px) {
  .section3 .box2 {
    width: 98%;
  }
  .section3 .box2 p {
    font-size: 10px;
    flex-direction: column;
    text-align: center;
  }

  .section3 .box2 p div {
    flex-direction: column;
  }

  .section3 .box2 p span {
    margin-right: 0;
  }

  .section3 .box2 p strong {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    text-align: center;
  }

  .section3 .categorie {
    width: 98%;
    padding: 20px 5px;
  }

  .section3 .categorie p {
    margin-top: 10px;
    color: #a54040;
  }

  .section3 .categorie ul {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
  }

  .section3 .categorie ul li {
    font-size: 14px;
    width: 100%;
    color: #3d3c3c;
    margin: 7px 6px;
  }
}
