@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Nunito', sans-serif;
}

.section2 {
    position: relative;
    display: -webkit-box; /* Ancienne méthode */
    display: -ms-flexbox; /* Ancienne méthode */
    display: flex;
    -webkit-box-align: center; /* Ancienne méthode */
    -ms-flex-align: center; /* Ancienne méthode */
    align-items: center;
    -webkit-box-pack: center; /* Ancienne méthode */
    -ms-flex-pack: center; /* Ancienne méthode */
    justify-content: center;
    padding: 40px 5px;
    margin-top: 20px;
}

.section2 .formulaire1 {
    display: -webkit-box; /* Ancienne méthode */
    display: -ms-flexbox; /* Ancienne méthode */
    display: flex;
    -webkit-box-align: center; /* Ancienne méthode */
    -ms-flex-align: center; /* Ancienne méthode */
    align-items: center;
    -webkit-box-pack: center; /* Ancienne méthode */
    -ms-flex-pack: center; /* Ancienne méthode */
    justify-content: center;
}

.section2 .formulaire1 img {
    height: 300px;
    margin-right: 50px;
}

.section2 .formulaire1 form {
    width: 500px;
    display: -webkit-box; /* Ancienne méthode */
    display: -ms-flexbox; /* Ancienne méthode */
    display: flex;
    flex-direction: column;
    padding: 50px 70px;
    background-color: #ffffff;
    border-radius: 15px;
    font-family: 'Nunito', sans-serif;
    border: 1px solid #2c2c2c7c;
}

.section2 .formulaire1 form :nth-child(2) {
    display: block;
}

.section2 .formulaire1 form .box1 {
    display: -webkit-box; /* Ancienne méthode */
    display: -ms-flexbox; /* Ancienne méthode */
    display: flex;
    flex-direction: column;
    align-items: start;
}

.section2 .formulaire1 form .box1 label {
    color: #393939;
}

.section2 .formulaire1 form .box1 input {
    margin-top: 6px;
    margin-bottom: 20px;
    width: 100%;
    height: 40px;
    border-radius: 7px;
    padding: 5px 10px;
    border: 1px solid #2a2a2a83;
    outline: none;
    transition: all 0.5s ease;
}

.section2 .formulaire1 form .box1 input:focus {
    border: 2px solid rgba(0, 51, 255, 0.766);
}

.section2 .formulaire1 form h3 {
    margin-bottom: 30px;
    font-size: 30px;
    color: #2a2a2a;
}

.section2 .formulaire1 form #valider {
    padding: 5px 20px;
    background-color: #0671dcea;
    border: none;
    font-size: 14px;
    border-radius: 5px;
    color: white;
    text-transform: capitalize;
    letter-spacing: 1px;
    cursor: pointer;
    display: inline;
    width: 150px;
    transition: all 0.3s ease-in-out;
}

.section2 .formulaire1 form #valider:hover {
    background-color: #001738;
    transform: scale(1.03);
}

.section2 .formulaire1 form .erreur {
    padding: 7px 10px;
    background-color: red;
    color: #ffff;
    font-size: 18px;
}

.section2 .formulaire1 form a {
    color: #ff2a2a;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
    padding: 0 20px;
    transition: all 0.4s;
}

.section2 .formulaire1 form a:hover {
    color: #fa0000;
    border-radius: 5px;
    background-color: #ffffff;
}

@media screen and (max-width: 1000px) {
    .section2 .formulaire1 img {
        display: none;
    }

    .section2 .formulaire1 form {
        width: 400px;
        display: -webkit-box; /* Ancienne méthode */
        display: -ms-flexbox; /* Ancienne méthode */
        display: flex;
        flex-direction: column;
        padding: 30px 20px;
    }

    .section2 .formulaire1 form .box1 {
        display: -webkit-box; /* Ancienne méthode */
        display: -ms-flexbox; /* Ancienne méthode */
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
    }

    .section2 .formulaire1 form .box1 label {
        color: #393939;
    }

    .section2 .formulaire1 form .box1 input {
        width: 100%;
        height: 40px;
        font-size: 15px;
    }

    .section2 .formulaire1 form .box1 input:focus {
        box-shadow: 0 0 4px 1px #001738;
    }

    .section2 .formulaire1 form h3 {
        font-size: 25px;
    }

    .section2 .formulaire1 form #valider {
        font-size: 14px;
    }

    .section2 .formulaire1 form .erreur {
        font-size: 15px;
    }
}

@media screen and (max-width: 400px) {
    .section2 {
        padding: 20px 5px;
    }

    .section2 .formulaire1 img {
        display: none;
    }

    .section2 .formulaire1 form {
        width: 100%;
        display: -webkit-box; /* Ancienne méthode */
        display: -ms-flexbox; /* Ancienne méthode */
        display: flex;
        flex-direction: column;
        padding: 20px 10px;
    }

    .section2 .formulaire1 form .box1 input {
        width: 100%;
        height: 30px;
        font-size: 13px;
    }

    .section2 .formulaire1 form h3 {
        font-size: 25px;
    }
}

.bo {
    display: -webkit-box; /* Ancienne méthode */
    display: -ms-flexbox; /* Ancienne méthode */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.bo p {
    font-size: 11px;
}

#renvoyer {
    padding: 4px 10px;
    background-color: #fe4b22ea;
    border: none;
    font-size: 13px;
    border-radius: 5px;
    color: white;
    text-transform: capitalize;
    letter-spacing: 1px;
    cursor: pointer;
    display: inline;
    width: 150px;
    transition: all 0.3s ease-in-out;
}
