@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Nunito&display=swap");

/*--------------------------------------------------------------
  Variables
--------------------------------------------------------------*/
:root {
  --text-color: black;
  --titre-color: white;
  --font-color :#00587b ;
  --font-color2 :#e6e6e6 ;
}

/*--------------------------------------------------------------
  Styles globaux
--------------------------------------------------------------*/
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

.section2 .box3 .tr4 {
  background-color: #636262;
}
.section2 .box3 .tr4 {
  color: #ffffff;
}
#box1{
  display: none;
}
header {
  background-color:  var(--font-color2);
  padding: 40px;
  text-align: center;
  /* background-color: #d7d7d7; */
}
header h1 {
  width: 70%;
  margin-left: 200px;
  font-size: 25px;
  padding: 0 20px;
  color: var(--text-color);
}
header h2 {
  width: 70%;
  margin-left: 200px;
  font-size: 20px;
  color: #346dc8;
}

.section3 {
  margin-left: 280px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background: url(../image/bg_bggenerator_com.jpg); */
  background: radial-gradient(
    circle,
    rgba(226, 226, 230, 1) 0%,
    rgba(220, 220, 233, 1) 35%,
    rgba(255, 255, 255, 1) 100%
  );
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
  padding: 40px 0;
}
@media screen and (max-width: 1050px) {
  .section3 {
    width: 100%;
    margin-left: 0;
  }
}

.section3 .model{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.section3 .model a img{
    height: 500px;
    margin: 20px 30px;
}
