@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Nunito&display=swap");

*{
  margin:0 ;
  padding: 0%;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body{
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;
  background: radial-gradient(circle, rgba(226,226,230,1) 0%, rgba(220,220,233,1) 35%, rgba(255,255,255,1) 100%);
}

.section1{
    margin-top: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section1 .box1{
    padding: 10px 50px;
    width: 90%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.156) ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section1 .box1 h1 {
    font-size: 30px;
    text-align: center;
    width: 70%;
}

.section1 .box2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 40px;
}

.section1 .box2 img{
    height: 450px;
    width: 300px;
    object-fit: cover;
    margin: 20px;
    transition: all 0.3s ease-in-out;
}
.section1 .box2 img:hover{
    transform: scale(1.06);
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=11, Direction=45, Color=#2E35FF)";/*IE 8*/
-moz-box-shadow: -1px 1px 11px 5px rgba(46,53,255,0.4);/*FF 3.5+*/
-webkit-box-shadow: -1px 1px 11px 5px rgba(46,53,255,0.4);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
box-shadow: -1px 1px 11px 5px rgba(46,53,255,0.4);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=11, Direction=135, Color=#2E35FF); /*IE 5.5-7*/
}