@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Nunito&display=swap');



*{
    margin:0 ;
    text-decoration: none;
  }
  
  body{
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
}

.section2 .box3 table .me{
  background-color: #ffffff;
  border-radius: 15px;
}
.section2 .box3 table .me td a {
    color: black;

}
.section2 .box3 table .tr1{
  background-color: #797979;
}
.section2 .box3 table .tr1 td a{
  color: #ffffff;
}






.section3{
  margin-left: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background: url(../image/bg_bggenerator_com.jpg); */
  background: radial-gradient(circle, rgba(226,226,230,1) 0%, rgba(220,220,233,1) 35%, rgba(255,255,255,1) 100%);
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
  padding: 50px 0;
}

.section3 .img222{
  position: fixed;
  top: 50%;
  left: 20px;
  height: 50px;
  width: 50px;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 50%;
  z-index: 5;
  display: none;
}
@media screen and (max-width : 1400px) {
  .section3 .img222{
    display: none;
  }
}
@media screen and (max-width : 1050px) {
  .section3 .img222{
    position: fixed;
    top: 50%;
    left: 20px;
    height: 50px;
    width: 50px;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 50%;
    z-index: 5;
    display: block;
  }
}


.section3 .box1{
  width: 80%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 7px 7px 2px rgb(136, 136, 136);
}
.section3 .box1 h1{
  width: 35%;
  height: 100%;
  font-weight: bolder;
  background-color: #002233;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 4px 10px #d1d1d1;
  font-size: 25px;
  padding: 0 20px;
}
.section3 .box1 .container_slider{
  width: 65%;
  height: 300px !important;
  border: none;
  overflow: hidden;
  margin-top: 10px;

}
.section3 .box1 .container_slider img{
  width: 100%;
  height:300px;
  object-fit: cover;
}

.section3 .box2{
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  background-color: #ffffff;
}
.section3 .box2 p{
  font-size: 16px;
  color: #002233cb;
  border-left: 4px solid orange;
  padding: 20px 30px;
  display: flex;
  align-items: center;
}
.section3 .box2 p span{
  height: 40px;
  width: 40px;
  max-width: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border:2px dotted #002233 ;
  border-radius: 50%;
  margin-right: 30px;
}

@media screen and (max-width : 1050px) {
  .section3{
    margin-left: 0px;
    padding:0 0 0 0;
  }

  .section3 .box1{
    width: 99%;
    height: 300px;
    margin-top: 0;
  }
  .section3 .box1 h1{
    width: 25%;
    height: 100%;
   font-size: 18px;
    padding: 0 10px;
  }
  .section3 .box1 .container_slider{
    width: 75%;
    height: 300px !important;
    border: none;
    overflow: hidden;
  }
  .section3 .box1 .container_slider img{
    width: 100%;
    height:300px;
    object-fit: cover;
  }

  .section3 .box2{
    width: 90%;
    margin-top: 20px;
  }
  .section3 .box2 p{
    font-size: 14px;
  }
  .section3 .box2 p span{
    height: 30px;
    width: 30px;
    max-width: 30px;
    min-width: 30px;
  }
  .section3 .box2 p strong{
    margin-left: 10px;
  }
}
@media screen and (max-width : 600px) {
  .section3{
    margin-left: 0px;
  }

  .section3 .box1{
    width: 99%;
    height: 250px;
    margin-top: 0;
  }
  .section3 .box1 h1{
    width: 23%;
    height: 100%;
   font-size: 15px;
    padding: 0 10px;
  }
  .section3 .box1 .container_slider{
    width: 75%;
    height: 250px !important;
    border: none;
    overflow: hidden;
  }
  .section3 .box1 .container_slider img{
    width: 100%;
    height:250px;
    object-fit: cover;
  }

  .section3 .box2{
    width: 90%;
    margin-top: 20px;
  }
  .section3 .box2 p{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .section3 .box2 p span{
    height: 30px;
    width: 30px;
    max-width: 30px;
    min-width: 30px;
  }
  .section3 .box2 p strong{
    margin-left: 10px;
  }
}










.section3 .div-section3{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  width: 100%;
}
.section3 .div-section3 .box6{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section3 .div-section3 .box6 h2{
  background-color: #002233;
  color: #ffffff;
  font-weight: 500;
  padding: 6px 20px;
  text-align: center;
  width: 500px;
  border-radius: 7px;

}

.section3 .div-section3 .box6 h3{
  background-color: #002233;
  color: #ffffff;
  font-weight: 500;
  padding: 5px 20px;
  text-align: center;
  width: 300px;
  border-radius: 7px;
  margin-top: 10px;
}
.section3 .div-section3 .box6 .h31{
  background-color: rgb(0, 210, 0);
}
.section3 .div-section3 .box6 .h32{
  background-color: rgb(210, 21, 0);
}
.section3 .div-section3 .box6 .container_accept{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  padding:10px 20px;
}
.section3 .div-section3 .box6 .accept{
  width: 230px;
  height: 360px;
  border: 2px solid #cbcbcb;
  border-radius: 7px;
  overflow: hidden;
  background-color: #ffffff;
  position: relative;
  padding-bottom: 10px;
  margin: 20px 0;
  margin: 20px;
  box-shadow: 7px 7px 7px 2px #0022336c;
}
.section3 .div-section3 .box6 .accept img{
  width: 100%;
  height:130px;
  object-fit: cover;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border: 1px solid #00223352;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.section3 .div-section3 .box6 .accept .cursor{
  pointer-events: none;
  cursor: not-allowed;
  color: red;
}

.section3 .div-section3 .box6 .accept h5 span{
  color: rgb(0, 89, 255);
}

.section3 .div-section3 .box6 .accept h5{
  width: 98%;
  font-size: 15px;
  font-weight: bolder;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 20px;
  text-align: left;
}
.section3 .div-section3 .box6 .accept h4{
  width: 100%;
  padding: 3px 10px;
  background-color: #28282861;
  color: #ffffff;
}
.section3 .div-section3 .box6 .accept p{
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 5px 10px;
  font-size: 14px;
}
.section3 .div-section3 .box6 .accept p span{
  position: absolute;
  height: 100%;
  width: 20px;
  background-color: #ffffff;
  color: #000102;
  left: 265px;
  font-size: 20px;
  top: -5px;padding-left: 2px;
}

.section3 .div-section3 .box6 .accept .a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px 2px;
  border-radius: 5px;
  background-color: #002233;
  color: #ffffff;
  font-size: 14px;
  margin: 0 auto;
  width: 180px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.4s ease;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
}
.section3 .div-section3 .box6 .accept .b {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px 2px;
  border-radius: 5px;
  background-color: #3f5fff;
  color: #ffffff;
  font-size: 14px;
  margin: 0 auto;
  width: 180px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.4s ease;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%);
}
.section3 .div-section3 .box6 .accept a:hover{
  background-color: #0066FF;
}
.section3 .div-section3 .box6 .accept a img{
  height: 25px;
  width: 25px;
  border: none;
  margin-right: 5px;
  transition: all 0.4s ease;
}

.section3 .div-section3 .box6 .accept a:hover img{
  transform: scale(1.2);
}


.section3 .div-section3 .box6 .accept .h51{
  position: absolute;
  width: 300px;
  padding: 2px 20px;
  font-size:13px;
  background-color: rgb(0, 210, 0);
  color: #ffffff;
  font-weight: 600;
 top: 20px;
 text-transform: uppercase;
  transform:rotate(40deg);
  text-align: center;
}
.section3 .div-section3 .box6 .accept .h52{
  position: absolute;
  width: 300px;
  padding: 2px 20px;
  font-size: 13px;
  background-color: rgb(210, 21, 0);
  color: #ffffff;
  font-weight: 600;
 top: 20px;
 text-transform: uppercase;
  transform:rotate(45deg);
  text-align: center;
 
}
.section3 .div-section3 .box6 .accept .h53{
  position: absolute;
  width: 300px;
  padding: 2px 20px;
  font-size: 13px;
  background-color: #002233;
  color: #ffffff;
  font-weight: 600;
 top: 40px;
 text-transform: uppercase;
  transform:rotate(45deg);
  text-align: center;
 
}

@media screen and (max-width : 1050px){
  .section3 .div-section3 .box6 h2{
    padding: 10px 20px;
    width: 80%;
    border-radius: 7px;
    font-size: 20px;
  }
  .section3 .div-section3 .box6 .container_accept{
    padding: 20px;
  }
  .section3 .div-section3 .box6 .accept{
    width: 230px;
    height: 360px;
  }
  .section3 .div-section3 .box6 .accept img{
    width: 100%;
    height:160px;
  }
  
  .section3 .div-section3 .box6 .accept h3{
    font-size: 15px;
    padding: 5px 0;
  }
  
  .section3 .div-section3 .box6 .accept p{
    width: 700px;
    font-size: 14px;
  }
  .section3 .div-section3 .box6 .accept p span{
    font-size: 20px;
  }
  
  .section3 .div-section3 .box6 .accept a {
    padding: 1px 2px;
    font-size: 14px;
    margin: 0 auto;
    letter-spacing: 1px;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
  }
}