@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Nunito&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 0.5px;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #e1e2e275;
}

/* section 2 et toute ces modification  */

.section2 .box3 table .me4 {
  background-color: #ffffff;
  border-radius: 15px;
}
.section2 .box3 table .me4 td a {
  color: black;
}
.section2 .box3 table .tr2 {
  background-color: #797979;
}
.section2 .box3 table .tr2 td a {
  color: #ffffff;
}

/* section 3 et toute ces modification  */

.section3{
  margin-left: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 /* background: radial-gradient(circle, rgba(226,226,230,1) 0%, rgba(220,220,233,1) 35%, rgba(255,255,255,1) 100%); */
 
 background-position: center;
 background-attachment: fixed;
 position: relative;
 margin-top: 10px;
}

@media screen and (max-width : 1050px){
  .section3{
      width: 100%;
     padding-left: 50px;
     margin-left: 0;
  }
}

.section3 .messages {
  margin-top: 20px;
  height: 70vh;
  width: 500px;
  border: 2px solid #00223376;
  border-radius: 20px;
  background-color: #ffffff;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color=#000000)"; /*IE 8*/
  -moz-box-shadow: 18px 18px 4px -11px rgba(0, 0, 0, 0.1); /*FF 3.5+*/
  -webkit-box-shadow: 18px 18px 4px -11px rgba(0, 0, 0, 0.1); /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
  box-shadow: 18px 18px 4px -11px rgba(0, 0, 0, 0.1); /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  position: relative;
  padding: 20px 30px;
}
.section3 .messages .container_aff {
  margin-top: 20px;
  height: 85%;
  width: 100%;
  overflow-y: auto;
  padding-bottom: 50px;
  scroll-margin-bottom: 20px;
}
.section3 .messages .box2 {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 20px;
  position: sticky;
}
.section3 .messages .box2 img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
}
.section3 .messages .box2 .aff {
  position: relative;
  background: #d0d0d0;
  padding: 5px 10px;
  margin-left: 10px;
  width: 100%;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  position: sticky;
}
.section3 .messages .box2 .aff .span {
  color: #004ab9;
  font-size: 10px;
}

.section3 .messages .box2 .aff:after,
.section3 .messages .box2 .aff:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.section3 .messages .box2 .aff:after {
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #d0d0d0;
  border-width: 22px;
  margin-top: -22px;
}
.section3 .messages .box2 .aff:before {
  border-color: rgba(194, 225, 245, 0);
  border-right-color: #d0d0d0;
  border-width: 26px;
  margin-top: -26px;
}
.section3 .messages .box2 p {
  color: #000000;
  font-size: 14px;
}

.section3 .messages .box4 {
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.section3 .messages .box4 img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 10px;
  object-fit: cover;
}
.section3 .messages .box4 .affi {
  position: relative;
  background-color: #0066ff56;
  padding: 5px 10px;
  margin-right: 20px;
  width: 90%;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.section3 .messages .box4 .affi img {
  height: 13px;
  width: 13px;
  border: none;
  position: absolute;
  top: 6px;
  right: 6px;
  cursor: pointer;
  object-fit: cover;
}
.section3 .messages .box4 .affi .span {
  color: #a80247;
  font-size: 10px;
}
.section3 .messages .box4 .affi:after,
.section3 .messages .box4 .affi:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.section3 .messages .box4 .affi:after {
  border-left-color: #0066ff56;
  border-width: 22px;
  margin-top: -22px;
}
.section3 .messages .box4 .affi:before {
  border-left-color: #0066ff56;
  border-width: 26px;
  margin-top: -26px;
}

.section3 .messages .box4 .affi p{
  font-size: 14px;
}

.section3 .container_box3 {
  position: absolute;
  bottom: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
}
.section3 .container_box3 .box3 form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.section3 .container_box3 .box3 textarea {
  height: 50px;
  width: 90%;
  border-radius: 10px;
  border: 1px solid #00223355;
  padding: 5px 10px;
  outline: none;
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  transition: all 0.3s ease-in-out;
}
.section3 .container_box3 .box3 textarea:hover{
  box-shadow: 0 0 5px 0 #0066ff6d;
  border: 2px solid #0066ff6d;
}
.section3 .container_box3 .box3 textarea:focus{
  box-shadow: 0 0 5px 0 #0066ff6d;
  border: 2px solid #0066ff6d;
}
.section3 .messages .box3 button img {
  height: 40px;
  border: none;
}
.section3 .container_box3 .box3 button {
  border: none;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
}

@media screen and (max-width: 1050px) {
  .section3 {
    margin-left: 0;
  }
}
@media screen and (max-width: 600px) {
  .section3 {
    margin-left: 0;
  }
  .section3 .message {
    padding: 20px 5px;
    width: 400px;
    margin-top: 120px;
  }
  .section3 .message .affi p {
    font-size: 12px;
  }
  .section3 .container_box3 .box3 textarea {
    font-size: 14px;
  }

  .section3 .messages{
    width: 98%;
    padding: 20px 10px;
  }
  .section3 .messages .box4 .affi{
    width: 99%;
  }
  .section3 .messages .box4 img {
    height: 30px;
    width: 30px;
  }
  .section3 .messages .box4 .affi p{
    font-size: 12px;
  }
  .section3 .messages .box4 .affi .span {
    font-size: 8px;
  }

  .section3 .messages .box2 .aff .span {
    font-size: 8px;
  }

  .section3 .messages .box2 .aff p {
    font-size: 12px;
  }

  .section3 .messages .box2 img {
    height: 30px;
    width: 30px;
  }
}


.container_profil {
  width: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.container_profil .box3 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container_profil .box3 h2 {
  width: 100%;
  padding: 3px 20px;
  background-color: #67dd00;
  color: #ffffff;
  margin: 7px 0;
  font-size: 20px;
  border-radius: 20px;
}
.container_profil .box3 a {
  text-decoration: none;
}
.container_profil .box3 .info {
  width: 400px;
  display: flex;
  align-items: center;
  margin-left: -200px;
  padding: 5px 10px;
  background-color: #ffffff;
  margin: 10px 0;
  border-radius: 10px;
}

.container_profil .box3 .info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #67dd00;
  margin-right: 10px;
  object-fit: cover;
}
.container_profil .box3 .info .div h4 {
  font-weight: bolder;
  font-size: 15px;
  color: #002233c3;
}
.container_profil .box3 .info .div p {
  color: #0066ff;
  font-weight: 500;
  font-size: 14px;
}
.container_profil .box3 .info .div p .span1 {
  color: #000000;
  font-weight: 500;
  font-size: 14.5px;
  margin-right: 10px;
}
.container_profil .box3 .info .div p .span2 {
  color: #000000;
  font-weight: bold;
  font-size: 14.5px;
  margin-right: 10px;
}

.container_profil .box2 a {
  text-decoration: none;
}
.container_profil .box2 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container_profil .box2 h2 {
  width: 100%;
  padding: 7px 20px;
  background-color: #002233;
  color: #ffffff;
  margin: 10px 0;
  font-size: 20px;
  border-radius: 20px;
}
.container_profil .box2 .info {
  width: 400px;
  display: flex;
  align-items: center;
  margin-left: -200px;
  padding: 5px 10px;
  background-color: #ffffff;
  margin: 20px 0;
  border-radius: 10px;
}

.container_profil .box2 .info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #002233;
  margin-right: 20px;
  object-fit: cover;
}

.container_profil .box2 .info .div h4 {
  font-weight: bolder;
  font-size: 15px;
}
.container_profil .box2 .info .div p {
  color: #0066ff;
  font-weight: 500;
  font-size: 14px;
}
.container_profil .box2 .info .div p span {
  color: #000000;
}

@media screen and (max-width: 1500px) {
  .container_profil {
    display: none;
  }
}
