@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Nunito&display=swap");

/*--------------------------------------------------------------
  Variables
--------------------------------------------------------------*/
:root {
  --text-color-m5: #000000;
  --font-color-m5: #ebebeb;
  --text-color2-m5: #0089be;
  --light-text-m5: rgba(0, 0, 0, 0.6);
  --item-bg-m5: rgba(195, 193, 193, 0.5);

  /* Font sizes */
  --h1-size: 25px !important;
  --h2-size: 20px !important;
  --h3-size: 15px !important;
  --p-size: 13px !important;
  --li-size: 14px !important;
  --span-size: 11px !important;
  --strong-size: 14px !important;
}

/*--------------------------------------------------------------
  Styles globaux
--------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif !important;
  line-height: 1.4;
}

body {
  font-family: "Nunito", sans-serif !important;
  background-color: #f5f5f5;
  line-height: 1.4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

/* Common text styles */
h1 {
  font-size: var(--h1-size) !important;
}
h2 {
  font-size: var(--h2-size) !important;
}
h3 {
  font-size: var(--h3-size) !important;
}
p {
  font-size: var(--p-size) !important;
}
li {
  font-size: var(--li-size) !important;
}
span {
  font-size: var(--span-size) !important;
}
strong {
  font-size: var(--strong-size) !important;
}

.section2 .box3 table .tr4 {
  background-color: #636262;
}

.section2 .box3 table .tr4 td a {
  color: #ffffff;
}

#box1 {
  display: none;
}

.section3 {
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 1050px) {
  .section3 {
    width: 100%;
    margin-left: 0;
  }
}

.section3 .button12 {
  padding: 10px;
  background-color: #346dc8;
  color: #ffffff;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.4s;
  margin-bottom: 10px;
}

.section3 .reset-button {
  background-color: #e74c3c;
  margin-left: 10px;
}

.section3 .reset-button:hover {
  background-color: #c0392b;
}

@media screen and (max-width: 1050px) {
  .section3 {
    width: 100%;
    margin-left: 0;
  }
}

.section3 button:hover {
  background-color: #303030;
}

.section3 .personnalisation {
  width: 500px;
  padding: 20px;
  margin: 20px 0;
  background-color: #ffffff;
  border-radius: 10px;
  max-height: 90vh;
}

.section3 .personnalisation .box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.section3 .personnalisation .box p {
  font-size: 12px;
  color: #636262;
  text-align: center;
  margin-right: 20px;
}

.section3 .personnalisation .box input {
  width: 60px;
  height: 30px;
  max-width: 60px;
  max-height: 30px;
  min-height: 30px;
  min-width: 60px;
}

@media screen and (max-width: 720px) {
  .personnalisation {
    width: 330px;
    padding: 10px;
    margin: 10px 0;
  }

  .personnalisation .box {
    margin-top: 4px;
  }

  .personnalisation .box input {
    width: 50px;
    height: 20px;
  }

  .personnalisation .box p {
    font-size: 10px;
  }
}

.color-picker {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.color-picker label {
  flex: 1;
}

.color-picker input {
  margin-left: 20px;
  padding: 5px;
}

.container {
  width: 793px;
  height: 1122px;
  border: 1.5px solid #a3a3a3;
  margin: 0px auto;
  position: relative;
  margin-bottom: 40px;
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container .box1 {
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
}

.container .box1 .item1 {
  width: 70%;
  background-color: var(--font-color-m5);
  padding: 20px 10px;
}

.container .box1 .item1 ul {
  margin-left: 30px;
  margin-bottom: 20px;
}

.container .box1 .item1 ul li {
  list-style: none;
  margin: 7px 0;
  display: flex;
  align-items: center;
  color: var(--text-color-m5);
}

.container .box1 .item1 ul li img {
  width: 25px;
  margin-right: 10px;
}

.container .box1 .item1 h3 {
  margin-left: 30px;
  margin-bottom: 5px;
  color: var(--text-color-m5);
}

.container .box1 .item1 h1 {
  margin-left: 30px;
  color: var(--text-color-m5);
}

.container .box1 .item2 {
  width: 30%;
  height: 200px;
}

.container .box1 .item2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .box2 {
  display: flex;
  width: 100%;
}

.container .box2 .item1 {
  width: 50%;
  height: 600px;
}

.container .box2 .item1 .box {
  margin-bottom: 20px;
  margin-top: 20px;
}

.container .box2 .item1 .box h2 {
  margin-bottom: 10px;
  margin-left: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--text-color2-m5);
}

.container .box2 .item1 .box h2 img {
  margin-right: 20px;
  width: 25px;
}

.container .box2 .item1 .box p {
  padding: 0px 30px;
  width: 100%;
  color: var(--text-color-m5);
}

.container .box2 .item1 .exp {
  width: 100%;
}

.container .box2 .item1 .exp h2 {
  margin-bottom: 10px;
  margin-left: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--text-color2-m5);
}

.container .box2 .item1 .exp h2 img {
  margin-right: 20px;
  width: 25px;
}

.container .box2 .item1 .exp div {
  margin-bottom: 15px;
}

.container .box2 .item1 .exp div h3 {
  margin-left: 30px;
  color: var(--text-color2-m5);
}

.container .box2 .item1 .exp div span {
  color: var(--light-text-m5);
  margin-left: 30px;
}

.container .box2 .item1 .exp div p {
  padding: 5px 30px 5px 30px;
  color: var(--text-color-m5);
}

.container .box2 .item2 {
  width: 50%;
  height: 850px;
  background-color: var(--font-color-m5);
}

.container .box2 .item2 .exp {
  width: 100%;
  margin-top: 20px;
}

.container .box2 .item2 .exp h2 {
  margin-bottom: 10px;
  margin-left: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--text-color-m5);
}

.container .box2 .item2 .exp h2 img {
  margin-right: 20px;
  width: 25px;
}

.container .box2 .item2 .exp div {
  margin-bottom: 10px;
}

.container .box2 .item2 .exp div h3 {
  margin-left: 30px;
  color: var(--text-color2-m5);
}

.container .box2 .item2 .exp div span {
  color: var(--text-color-m5);
  margin-left: 30px;
  display: block;
}

.container .box2 .item2 .exp div p {
  color: var(--text-color-m5);
  margin-left: 30px;
  text-align: justify;
  padding-right: 20px;
}

.container .box2 .item2 .comp {
  margin-top: 20px;
}

.container .box2 .item2 .comp h2 {
  margin-bottom: 10px;
  margin-left: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--text-color2-m5);
}

.container .box2 .item2 .comp h2 img {
  margin-right: 20px;
  width: 25px;
}

.container .box2 .item2 .comp ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 20px 5px 20px;
}

.container .box2 .item2 .comp ul li {
  padding: 3px 7px;
  background-color: var(--item-bg-m5);
  margin: 7px 10px;
  border-radius: 5px;
  list-style: none;
  color: var(--text-color-m5);
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
}

.container .box2 .item2 .outils {
  margin-top: 20px;
}

.container .box2 .item2 .outils h2 {
  margin-bottom: 10px;
  margin-left: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--text-color-m5);
}

.container .box2 .item2 .outils h2 img {
  margin-right: 20px;
  width: 25px;
}

.container .box2 .item2 .outils ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 20px 5px 20px;
}

.container .box2 .item2 .outils ul li {
  list-style: square;
  margin: 7px 10px;
  color: var(--text-color-m5);
  list-style: none;
}

.model5 {
  display: none;
}

#cv-content {
  width: 793px;
  height: 1122px;
  border: 1.5px solid #a3a3a3;
  margin: 0px auto;
  position: relative;
  margin-bottom: 40px;
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#cv-content .box1 {
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
}

#cv-content .box1 .item1 {
  width: 70%;
  background-color: var(--font-color-m5);
  padding: 20px 10px;
}

#cv-content .box1 .item1 ul {
  margin-left: 30px;
  margin-bottom: 20px;
}

#cv-content .box1 .item1 ul li {
  list-style: none;
  margin: 7px 0;
  display: flex;
  align-items: center;
  color: var(--text-color-m5);
}

#cv-content .box1 .item1 ul li img {
  width: 25px;
  margin-right: 10px;
}

#cv-content .box1 .item1 h3 {
  margin-left: 30px;
  margin-bottom: 5px;
  color: var(--text-color-m5);
}

#cv-content .box1 .item1 h1 {
  margin-left: 30px;
  color: var(--text-color-m5);
}

#cv-content .box1 .item2 {
  width: 30%;
  height: 200px;
}

#cv-content .box1 .item2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#cv-content .box2 {
  display: flex;
  width: 100%;
}

#cv-content .box2 .item1 {
  width: 50%;
  height: 600px;
}

#cv-content .box2 .item1 .box {
  margin-bottom: 20px;
  margin-top: 20px;
}

#cv-content .box2 .item1 .box h2 {
  margin-bottom: 10px;
  margin-left: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--text-color2-m5);
}

#cv-content .box2 .item1 .box h2 img {
  margin-right: 20px;
  width: 25px;
}

#cv-content .box2 .item1 .box p {
  padding: 0px 30px;
  width: 100%;
  text-align: justify;
  color: var(--text-color-m5);
}

#cv-content .box2 .item1 .exp {
  width: 100%;
}

#cv-content .box2 .item1 .exp h2 {
  margin-bottom: 10px;
  margin-left: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--text-color2-m5);
}

#cv-content .box2 .item1 .exp h2 img {
  margin-right: 20px;
  width: 25px;
}

#cv-content .box2 .item1 .exp div {
  margin-bottom: 15px;
}

#cv-content .box2 .item1 .exp div h3 {
  margin-left: 30px;
  color: var(--text-color2-m5);
}

#cv-content .box2 .item1 .exp div span {
  color: var(--light-text-m5);
  margin-left: 30px;
  display: block;
}

#cv-content .box2 .item1 .exp div p {
  padding: 5px 30px 5px 30px;
  text-align: justify;
  color: var(--text-color-m5);
}

#cv-content .box2 .item2 {
  width: 50%;
  height: 850px;
  background-color: var(--font-color-m5);
}

#cv-content .box2 .item2 .exp {
  width: 100%;
  margin-top: 20px;
}

#cv-content .box2 .item2 .exp h2 {
  margin-bottom: 10px;
  margin-left: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--text-color-m5);
}

#cv-content .box2 .item2 .exp h2 img {
  margin-right: 20px;
  width: 25px;
}

#cv-content .box2 .item2 .exp div {
  margin-bottom: 10px;
}

#cv-content .box2 .item2 .exp div h3 {
  margin-left: 30px;
  color: var(--text-color2-m5);
}

#cv-content .box2 .item2 .exp div span {
  color: var(--text-color-m5);
  margin-left: 30px;
}

#cv-content .box2 .item2 .exp div p {
  color: var(--text-color-m5);
  padding: 5px 10px 5px 30px;
  text-align: justify;
}

#cv-content .box2 .item2 .comp {
  margin-top: 20px;
}

#cv-content .box2 .item2 .comp h2 {
  margin-bottom: 10px;
  margin-left: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--text-color-m5);
}

#cv-content .box2 .item2 .comp h2 img {
  margin-right: 20px;
  width: 25px;
}

#cv-content .box2 .item2 .comp ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 15px 5px 15px;
}

#cv-content .box2 .item2 .comp ul li {
  padding: 3px 7px;
  background-color: var(--item-bg-m5);
  margin: 7px 10px;
  border-radius: 5px;
  list-style: none;
  color: var(--text-color-m5);
}

#cv-content .box2 .item2 .outils {
  margin-top: 20px;
}

#cv-content .box2 .item2 .outils h2 {
  margin-bottom: 10px;
  margin-left: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--text-color-m5);
}

#cv-content .box2 .item2 .outils h2 img {
  margin-right: 20px;
  width: 25px;
}

#cv-content .box2 .item2 .outils ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 15px 5px 15px;
}

#cv-content .box2 .item2 .outils ul li {
  list-style: square;
  margin: 7px 10px;
  color: var(--text-color-m5);
  list-style: none;
}

@media screen and (max-width: 1050px) {
  :root {
    --h1-size: 16px;
    --h2-size: 16px;
    --h3-size: 11px;
    --p-size: 9px;
    --li-size: 12px;
    --span-size: 8px;
    --strong-size: 12px;
  }

  .section3 .container {
    width: 550px;
    height: 850px;
    margin: 40px auto;
  }

  .section3 .container .box1 {
    height: 230px;
  }

  .section3 .container .box1 .item1 {
    width: 60%;
    padding: 20px 10px;
  }

  .section3 .container .box1 .item1 ul {
    margin-left: 30px;
    margin-bottom: 20px;
  }

  .section3 .container .box1 .item1 ul li {
    margin: 7px 0;
  }

  .section3 .container .box1 .item1 ul li img {
    width: 23px;
    margin-right: 10px;
  }

  .section3 .container .box1 .item1 h3 {
    margin-left: 30px;
  }

  .section3 .container .box1 .item1 h1 {
    margin-left: 30px;
  }

  .section3 .container .box1 .item2 {
    width: 40%;
  }

  .section3 .container .box2 .item1 {
    width: 56%;
    height: 700px;
  }

  .section3 .container .box2 .item1 .box {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .section3 .container .box2 .item1 .box h2 {
    margin-bottom: 10px;
    margin-left: 30px;
  }

  .section3 .container .box2 .item1 .box h2 img {
    margin-right: 20px;
    width: 20px;
  }

  .section3 .container .box2 .item1 .box p {
    padding: 0px 15px;
  }

  .section3 .container .box2 .item1 .exp {
    width: 100%;
  }

  .section3 .container .box2 .item1 .exp h2 {
    margin-bottom: 3px;
    margin-left: 30px;
  }

  .section3 .container .box2 .item1 .exp h2 img {
    margin-right: 20px;
    width: 20px;
  }

  .section3 .container .box2 .item1 .exp div {
    margin-bottom: 20px;
  }

  .section3 .container .box2 .item1 .exp div h3 {
    margin-left: 30px;
  }

  .section3 .container .box2 .item1 .exp div span {
    margin-left: 20px;
  }

  .section3 .container .box2 .item1 .exp div p {
    padding: 0px 15px 0px 15px;
  }

  .section3 .container .box2 .item2 {
    width: 44%;
    height: 700px;
  }

  .section3 .container .box2 .item2 .exp {
    margin-top: 10px;
  }

  .section3 .container .box2 .item2 .exp h2 {
    margin-bottom: 10px;
    margin-left: 20px;
  }

  .section3 .container .box2 .item2 .exp h2 img {
    margin-right: 20px;
    width: 20px;
  }

  .section3 .container .box2 .item2 .exp div {
    margin-bottom: 10px;
  }

  .section3 .container .box2 .item2 .exp div h3 {
    margin-left: 20px;
  }

  .section3 .container .box2 .item2 .exp div span {
    margin-left: 20px;
  }

  .section3 .container .box2 .item2 .exp div p {
    margin-left: 20px;
  }

  .section3 .container .box2 .item2 .comp {
    margin-top: 10px;
    padding: 5px;
  }

  .section3 .container .box2 .item2 .comp h2 {
    margin-bottom: 10px;
    margin-left: 20px;
  }

  .section3 .container .box2 .item2 .comp h2 img {
    margin-right: 20px;
    width: 20px;
  }

  .section3 .container .box2 .item2 .comp ul {
    padding: 5px 5px 5px 5px;
  }

  .section3 .container .box2 .item2 .comp ul li {
    padding: 2px 5px;
    margin: 4px 6px;
    border-radius: 5px;
  }

  .section3 .container .box2 .item2 .outils {
    margin-top: 10px;
  }

  .section3 .container .box2 .item2 .outils h2 {
    margin-bottom: 10px;
    margin-left: 20px;
  }

  .section3 .container .box2 .item2 .outils h2 img {
    margin-right: 20px;
    width: 20px;
  }

  .section3 .container .box2 .item2 .outils ul {
    padding: 5px 20px 5px 20px;
  }

  .section3 .container .box2 .item2 .outils ul li {
    list-style: square;
    margin: 6px 20px;
  }
}

@media screen and (max-width: 800px) {
  :root {
    --h1-size: 10px;
    --h2-size: 12px;
    --h3-size: 9px;
    --p-size: 7px;
    --li-size: 9px;
    --span-size: 6px;
    --strong-size: 9px;
  }

  .section3 .container {
    width: 340px;
    height: 622px;
    margin: 40px auto;
  }

  .section3 .container .box1 {
    height: 180px;
  }

  .section3 .container .box1 .item1 {
    width: 60%;
    padding: 10px 10px;
  }

  .section3 .container .box1 .item1 ul {
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .section3 .container .box1 .item1 ul li {
    margin: 3px 0;
  }

  .section3 .container .box1 .item1 ul li img {
    width: 18px;
    margin-right: 10px;
  }

  .section3 .container .box1 .item1 h3 {
    margin-left: 10px;
  }

  .section3 .container .box1 .item1 h1 {
    margin-left: 10px;
  }

  .section3 .container .box1 .item2 {
    width: 40%;
    height: 80%;
  }

  .section3 .container .box2 .item1 {
    width: 50%;
    height: 600px;
  }

  .section3 .container .box2 .item1 .box {
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .section3 .container .box2 .item1 .box h2 {
    margin-bottom: 10px;
    margin-left: 15px;
  }

  .section3 .container .box2 .item1 .box h2 img {
    margin-right: 10px;
    width: 15px;
  }

  .section3 .container .box2 .item1 .box p {
    padding: 0px 7px;
  }

  .section3 .container .box2 .item1 .exp {
    width: 100%;
  }

  .section3 .container .box2 .item1 .exp h2 {
    margin-bottom: 3px;
    margin-left: 10px;
  }

  .section3 .container .box2 .item1 .exp h2 img {
    margin-right: 10px;
    width: 15px;
  }

  .section3 .container .box2 .item1 .exp div {
    margin-bottom: 10px;
  }

  .section3 .container .box2 .item1 .exp div h3 {
    margin-left: 10px;
  }

  .section3 .container .box2 .item1 .exp div span {
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 0px;
    display: block;
  }

  .section3 .container .box2 .item1 .exp div p {
    padding: 0px 7px 0px 7px;
    text-align: left;
  }

  .section3 .container .box2 .item2 {
    width: 50%;
    height: 600px;
  }

  .section3 .container .box2 .item2 .exp {
    margin-top: 10px;
  }

  .section3 .container .box2 .item2 .exp h2 {
    font-size: 11px;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .section3 .container .box2 .item2 .exp h2 img {
    margin-right: 10px;
    width: 15px;
  }

  .section3 .container .box2 .item2 .exp div {
    margin-bottom: 10px;
  }

  .section3 .container .box2 .item2 .exp div h3 {
    font-size: 8px;
    margin-left: 10px;
  }

  .section3 .container .box2 .item2 .exp div span {
    font-size: 5px;
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 0px;
    display: block;
  }

  .section3 .container .box2 .item2 .exp div p {
    font-size: 7px;
    margin-left: 10px;
    padding-right: 10px;
  }

  .section3 .container .box2 .item2 .comp {
    margin-top: 10px;
  }

  .section3 .container .box2 .item2 .comp h2 {
    font-size: 12px;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .section3 .container .box2 .item2 .comp h2 img {
    margin-right: 10px;
    width: 15px;
  }

  .section3 .container .box2 .item2 .comp ul {
    padding: 5px 0px 5px 0px;
  }

  .section3 .container .box2 .item2 .comp ul li {
    padding: 1px 6px;
    font-size: 6px;
    margin: 3px 5px;
    border-radius: 3px;
  }

  .section3 .container .box2 .item2 .outils {
    margin-top: 10px;
  }

  .section3 .container .box2 .item2 .outils h2 {
    font-size: 12px;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .section3 .container .box2 .item2 .outils h2 img {
    margin-right: 10px;
    width: 15px;
  }

  .section3 .container .box2 .item2 .outils ul {
    padding: 5px 5px 5px 5px;
  }

  .section3 .container .box2 .item2 .outils ul li {
    list-style: square;
    margin: 3px 15px;
    font-size: 6px;
  }
}

.container .box2 .item1 h2 {
  color: var(--text-color2-m5);
}

#cv-content .box2 .item1 h2 {
  color: var(--text-color2-m5);
}

/* Styles génériques pour tous les textes */
.container h1,
.container h2,
.container h3,
.container h4 {
  color: var(--text-color2-m5);
}

.container p,
.container span,
.container strong {
  color: var(--text-color-m5);
}

/* Exceptions pour le fond coloré */
.container .box1 .item1 h1,
.container .box1 .item1 h2,
.container .box1 .item1 h3,
.container .box1 .item1 h4,
.container .box1 .item1 p,
.container .box1 .item1 span,
.container .box1 .item1 strong,
.container .box2 .item2 h1,
.container .box2 .item2 h2,
.container .box2 .item2 h3,
.container .box2 .item2 h4,
.container .box2 .item2 p,
.container .box2 .item2 span,
.container .box2 .item2 strong {
  color: var(--text-color-m5);
}

/* Mêmes règles pour le contenu PDF */
#cv-content h1,
#cv-content h2,
#cv-content h3,
#cv-content h4 {
  color: var(--text-color2-m5);
}

#cv-content p,
#cv-content span,
#cv-content strong {
  color: var(--text-color-m5);
}

/* Exceptions pour le fond coloré dans le PDF */
#cv-content .box1 .item1 h1,
#cv-content .box1 .item1 h2,
#cv-content .box1 .item1 h3,
#cv-content .box1 .item1 h4,
#cv-content .box1 .item1 p,
#cv-content .box1 .item1 span,
#cv-content .box1 .item1 strong,
#cv-content .box2 .item2 h1,
#cv-content .box2 .item2 h2,
#cv-content .box2 .item2 h3,
#cv-content .box2 .item2 h4,
#cv-content .box2 .item2 p,
#cv-content .box2 .item2 span,
#cv-content .box2 .item2 strong {
  color: var(--text-color-m5);
}

/* Règles globales pour toutes les couleurs de texte */
.container p,
.container li,
.container span,
.container a,
.container em,
.container strong,
.container div,
#cv-content p,
#cv-content li,
#cv-content span,
#cv-content a,
#cv-content em,
#cv-content strong,
#cv-content div {
  color: var(--text-color-m5);
}

/* Règle pour tous les titres */
.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6,
#cv-content h1,
#cv-content h2,
#cv-content h3,
#cv-content h4,
#cv-content h5,
#cv-content h6 {
  color: var(--text-color2-m5);
}

/* Exception pour les éléments sur fond coloré */
.container .box1 .item1 *,
.container .box2 .item2 *,
#cv-content .box1 .item1 *,
#cv-content .box2 .item2 * {
  color: var(--text-color-m5) !important;
}

/* Règle spécifique pour le contenu de la colonne gauche sur fond blanc */
.container .box2 .item1 p,
.container .box2 .item1 span,
.container .box2 .item1 h4,
.container .box2 .item1 li,
.container .box2 .item1 strong,
#cv-content .box2 .item1 p,
#cv-content .box2 .item1 span,
#cv-content .box2 .item1 h4,
#cv-content .box2 .item1 li,
#cv-content .box2 .item1 strong {
  color: #333333 !important; /* Couleur foncée pour le texte sur fond blanc */
}

/* Styles pour les titres dans la colonne gauche */
.container .box2 .item1 h2,
.container .box2 .item1 h3,
#cv-content .box2 .item1 h2,
#cv-content .box2 .item1 h3 {
  color: var(
    --text-color2-m5
  ) !important; /* Couleur d'accentuation pour les titres */
}
