@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Nunito&display=swap");

*{
  margin:0 ;
  padding: 0;
  letter-spacing: 0.5px;
}

body{
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;
}

.section2 .box3 table .tr4{
  background-color: #191919;
}
.section2 .box3 table .tr4 td a{
color: #ffffff;
}






.section3{
  margin-left: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background: url(../image/bg_bggenerator_com.jpg); */
  background: radial-gradient(circle, rgba(226,226,230,1) 0%, rgba(220,220,233,1) 35%, rgba(255,255,255,1) 100%);
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
  padding: 40px 0;
}
@media screen and (max-width : 1050px) {
  .section3{
    width: 100%;
    margin-left: 0;
  }
}


.section3 .container_box2{
  margin-top: -20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section3 .container_box2 .box1{
  margin-top: 20px;
  padding: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.077);
}

.section3 .container_box2 .box2{
  width: 794px; /* Largeur pour A4 en pixels */
  height: 1123px; /* Hauteur pour A4 en pixels */
  border: 2px  solid rgba(0, 0, 0, 0.143) ;
  border-radius: 7px;
  background-color: #ffffff;
  display: flex;
  margin: 50px;
overflow: hidden;
}
.section3 .container_box2 .box2 .parte1{
  height: 100%;
  width: 35%;
  background-color: #191919;
}
.section3 .container_box2 .box2 .parte1 .pte1{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
}
.section3 .container_box2 .box2 .parte1 .pte1 img{
  width: 170px;
  height: 170px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 0 2px #b8b8b8;
}
.section3 .container_box2 .box2 .parte1 .pte2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.section3 .container_box2 .box2 .parte1 .pte2 h2{
  text-align: center;
  /* border-top-right-radius: 10px ;
  border-bottom-right-radius: 10px ; */
  margin-top: 20px;
  padding: 10px 20px;
  color: #191919;
  background-color: #ffffff;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 5px;
}
.section3 .container_box2 .box2 .parte1 .pte2 h4{
  text-align: center;
  font-size: 14px;
  margin-top: -15px;
  background-color: #ffffff;
  padding: 5px 20px;
  color: orange;
  /* border-top-right-radius: 10px ;
  border-bottom-right-radius: 10px ; */
  font-weight: 700;
  text-transform: uppercase;
}
.section3 .container_box2 .box2 .parte1 .pte2 table{
  border-collapse: collapse;
  width: 100%;
}
.section3 .container_box2 .box2 .parte1 .pte2 table .inc{
  width: 20%;
}
.section3 .container_box2 .box2 .parte1 .pte2 table .inc img{
  width: 25px;
}
.section3 .container_box2 .box2 .parte1 .pte2 table td{
  padding: 5px 10px ;
  word-wrap: break-word;
  font-size: 14px;
  color: #ffffff;
}



.section3 .container_box2 .box2 .parte1 .pte3{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section3 .container_box2 .box2 .parte1 .pte3 h2{
  width: 100%;
  margin-top: 10px;
  font-size: 17px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 10px;
  padding: 0px 10px;
  border-top-right-radius: 10px ;
  border-bottom-right-radius: 10px ;
  display: flex;
  align-items: center;
}
.section3 .container_box2 .box2 .parte1 .pte3 h2 img{
  width: 25px;
  margin-right: 10px;
}
.section3 .container_box2 .box2 .parte1 .pte3 p{
  width: 100%;
  word-wrap: break-word;
  color: #ffffff;
  padding:5px 20px;
  font-size: 14px;
}
.section3 .container_box2 .box2 .parte1 .pte3 table{
  border-collapse: collapse;
  width: 100%;
}
.section3 .container_box2 .box2 .parte1 .pte3 table .niv{
  font-style: italic;
  font-size: 13px;
}
.section3 .container_box2 .box2 .parte1 .pte3 table td{
  padding: 5px 15px ;
  color: #ffffff;
  font-size: 13px;
}

.section3 .container_box2 .box2 .parte1 .pte3 table .inc{
  width: 20%;
}
.section3 .container_box2 .box2 .parte1 .pte3 table .inc img{
  width: 25px;
}
.section3 .container_box2 .box2 .parte1 .pte3 .reseaux{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}







.section3 .container_box2 .box2 .parte2{
  height: 100%;
  width:70%;
  background-color: rgb(255, 255, 255);
}
.section3 .container_box2 .box2 .parte2 .pat1 {
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-top: 30px;
}
.section3 .container_box2 .box2 .parte2 .pat1 h1 {
  width: 70%;
  padding: 7px 20px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #191919;
  color: #ffffff;
  border-radius: 7px;
}
.section3 .container_box2 .box2 .parte2 .pat2 {
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.section3 .container_box2 .box2 .parte2 .pat2 p {
  width: 90%;
  padding: 10px 10px;
  font-size: 13px;
}

.section3 .container_box2 .box2 .parte2 .exp{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  margin-left: 10px;
  margin-bottom: 10px;
}
.section3 .container_box2 .box2 .parte2 .exp .til1{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.section3 .container_box2 .box2 .parte2 .exp .til1 h1{
  width: 70%;
  padding: 7px 20px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #191919;
  color: #ffffff;
  border-radius: 7px;
}
.section3 .container_box2 .box2 .parte2 .exp .mes_exp{
  display: flex;
  align-items: center;
  width: 90%;
  margin:10px ;
}
.section3 .container_box2 .box2 .parte2 .exp .mes_exp .exp1{
  height: 8px;
  width: 8px;
  background-color: black;
  border-radius: 50%;
  margin-right: 20px;

}
.section3 .container_box2 .box2 .parte2 .exp .mes_exp .exp2{
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  padding: 0 10px;
}
.section3 .container_box2 .box2 .parte2 .exp .mes_exp .exp2 em{
  font-size: 12px;
  width: 90px;
}
.section3 .container_box2 .box2 .parte2 .exp .mes_exp .exp3{
  width: 330px;
}
.section3 .container_box2 .box2 .parte2 .exp .mes_exp .exp3 h2{
  font-size: 14px;
  color: orange;
  margin: 0;
  font-style: italic;
  font-weight: bold;
  text-transform: capitalize;
}
.section3 .container_box2 .box2 .parte2 .exp .mes_exp .exp3 h4{
  font-size: 14px;
  margin: 0%;
  font-weight: 600;
}
.section3 .container_box2 .box2 .parte2 .exp .mes_exp .exp3 p{
  font-size: 13px;
  margin: 0%;
}




.section3 .container_box2 .box2 .parte2 .outils{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  margin: 10px 10px 10px 0;
 
}
.section3 .container_box2 .box2 .parte2 .outils .out1{
    display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.section3 .container_box2 .box2 .parte2 .outils h1{
  width: 70%;
  padding: 7px 20px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #191919;
  color: #ffffff;
  border-radius: 7px;
}

.section3 .container_box2 .box2 .parte2 .outils .out2{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0%;
}

.section3 .container_box2 .box2 .parte2 .outils .out22{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 450px;
  padding: 10px 20px;
}
.section3 .container_box2 .box2 .parte2 .outils .out22 .comp{
  font-size: 13px;
  padding: 2px 5px;
  background-color: #b8b8b866;
  border-radius: 5px;
  margin:4px 7px;
}
.section3 .container_box2 .box2 .parte2 .outils .out2 table{
  width: 80%;
  border-collapse: collapse;
  margin-top: 16px;
  margin: 10px 0;
}
.section3 .container_box2 .box2 .parte2 .outils .out2 table td{
  width: 50%;
  font-size: 13px;
  padding: 5px 0;
  margin: 0;
}






header {
  background-color: #d7d7d7;
  padding: 40px;
  text-align: center;
  
}
header h1{
  width: 500px;
  margin-left: 200px;
  font-size: 30px;
  padding: 0 20px;
}
header h2{
  width: 400px;
  margin-left: 300px;
}

#container {
  width: 793px;
  height: 1122px;
  border: 1.5px solid #ddd;
  margin:0 auto;
  position: relative;
}
#container .img{
  position: absolute;
  width: 160px;
  height: 170px;
  object-fit: cover;
  top: 30px;
  left: 40px;
  border: 1.5px solid #ddd;
}

#container #container-box{
  display: flex;
  flex-direction: column;
}

#container .box1{
  width: 250px;
  height: 880px;
  position: relative;
  border-right: 3px solid #000000;
  margin-top: 30px;
  padding-top: 40px;
}
#container .box1 h1{
  width: 80%;
  text-align: center;
  padding: 3px 20px;
  background-color: #000000;
  color: #ddd;
  margin: 15px auto;
  font-size: 16px;
  display: flex;
  align-items: center;
  border-radius: 4px;
}
#container .box1 h1 img{
  height: 20px;
  width: 20px;
  margin-right: 25px;
}
#container .box1 .bb{
  display: flex;
  align-items: center;
  width: 170px;
  margin: 15px auto;
  
}
#container .box1 .bb img{
  height: 25px;
  width: 25px;
  margin-right: 25px;
}
#container .box1 .bb p{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 13px;
}
#container .box1 ul{
  width: 80%;
  margin: 0 auto;
}
#container .box1 ul li{
  font-size: 14.5px;
  list-style-type: square;
  width: 100%;
  margin: 2px auto;
  margin-left:10px ;
}
#container .box1 .reseaux{
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-around;
  margin: 5px auto;
}
#container .box1 .resaux img{
  height: 30px;
  width: 30px;
  
}

#container .box2{
  width: 600px;
  height: 950px;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

#container .box2 h1{
  font-size: 18px;
  width: 70%;
  margin: 15px auto;
  background-color: #000000;
  color: #ddd;
  padding: 2px 20px;
  border-radius: 4px;
}
#container .box2 p{
  font-size: 13px;
  width: 80%;
  margin: 10px auto;
}

#container .box2 .div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 88%;
  margin: 10px auto;
}
#container .box2 .div div{
  display: flex;
  align-items: center;
  flex-direction: column;

}
#container .box2 .div h4{
  width: 380px;
  font-size: 15px;
  margin-bottom: -10px;
}
#container .box2 .div p{
  font-size: 13px;
  width: 380px;
}
#container .box2 .div span{
  font-size: 11px;
  width: 100px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#container .box2 .div strong{
  padding: 5px;
  background-color: #303030;
  border-radius: 50%;
  margin-right:20px ;
}

#container .box2 ul{
  width: 80%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  position: relative;
  flex-wrap: wrap;
}
#container .box2 ul li{
  list-style-type: circle;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  margin:5px 30px;
}
#container .box2 .div-comp {
  width: 80%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  position: relative;
  flex-wrap: wrap;
}
#container .box2 .comp{
  padding: 3px 10px;
  font-size: 13px;
  border-radius: 5px;
  background-color: #e2e2e2;
  margin: 5px 10px;
}
