@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Nunito&display=swap");

/*--------------------------------------------------------------
  Variables
--------------------------------------------------------------*/
:root {
  --texte-color_titre:#ededed ;
  --font-color_titre :#5b4f4f ;
  --font-color_section :#e6e6e6 ;
  --texte-color_section : #000000;
}
/*--------------------------------------------------------------
  Styles globaux
--------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Nunito", sans-serif;
  background-color: #e1e2e275;
}

.section2 .box3 table .tr4 {
  background-color: #636262;
}
.section2 .box3 table .tr4 td a {
  color: #ffffff;
}

#box1{
  display: none;
}

.section3{
  margin-left: 250px;
  background-color: #f2f2f275;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 /* background: radial-gradient(circle, rgba(226,226,230,1) 0%, rgba(220,220,233,1) 35%, rgba(255,255,255,1) 100%); */
 
 background-position: center;
 background-attachment: fixed;
 position: relative;
 margin-top: 10px;
}

@media screen and (max-width : 1050px){
  .section3{
      width: 100%;
     padding-left: 50px;
     margin-left: 0;
  }
}

.section3 .button12 {
  padding: 10px;
  background-color: #346dc8;
  color: #ffffff;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.4s;
  margin-bottom: 10px;
}

@media screen and (max-width: 1050px) {
  .section3 {
    width: 100%;
    margin-left: 0;
  }

}
.section3 button:hover {
  background-color: #303030;
}
.section3 .personnalisation{
  width: 330px;
  padding: 20px;
  margin: 20px 0;
  background-color: #ffffff;
  border-radius: 10px;
}

.section3 .personnalisation .box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.section3 .personnalisation .box p {
  font-size: 12px;
  color: #636262;
  text-align: center;
  margin-right: 20px;
}
.section3 .personnalisation .box input{
  width: 60px;
  height: 30px;
  max-width: 60px;
  max-height: 30px;
  min-height: 30px;
  min-width: 60px;
}

@media screen and (max-width: 720px){
  .section3 .personnalisation{
    width: 330px;
    padding: 10px;
    margin: 10px 0;
  }
  
  .section3 .personnalisation .box{
    margin-top: 4px;
  }
  .section3 .personnalisation .box input{
    width: 50px;
    height: 20px;
  }
  .section3 .personnalisation .box p{
    font-size: 10px;
  }
}
#container {
  width: 793px;
  height: 1122px;
  border: 1.5px solid #a3a3a3;
  margin: 0 auto;
  position: relative;
  margin-bottom: 40px;
  background-color: #ffffff;
}
#container .box1 p{
  color: var(--texte-color_section);
}
#container .box1 p span{
  color: var(--texte-color_section);
}
#container .box1 ul li{
  color: var(--texte-color_section);
}

#container .box1 h2{
  color: var(--texte-color_section);
  font-size: 18px;
}
#container .haut{
  background-color: var(--font-color_section);
  height: 30px;
  width: 100%;
  position: absolute;
  top: 0%;
  z-index: 5;
}
#container .bas{
  background-color: var(--font-color_section);
  height: 30px;
  width: 100%;
  position: absolute;
  bottom: 0%;
}
#container .img {
  width: 170px;
  height: 150px;
  object-fit: cover;
  border: 1.5px solid #ddd;
  border-radius: 7px;
}
#container .box1 .profil{
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

#container .container-box {
  display: flex;
}

#container .box1 {
  width: 290px;
  height: 1120px;
  position: relative;
  border-right: 3px solid #000000;
  padding-top: 20px;
  background-color: var(--font-color_section);
}

#container .box1 h1 {
  width: 80%;
  text-align: center;
  padding: 5px 20px;
  background-color: var(--font-color_titre );
  color: var(--texte-color_titre);
  margin: 10px auto;
  font-size: 12px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  text-transform: uppercase;
}
#container .box1 .profil .nom{
  background-color: #ffffff;
  font-size: 15px;
  color: #000000;
  width: 100%;
  padding: 5px 10px;
}
#container .box1 h1 img {
  height: 20px;
  width: 20px;
  margin-right: 15px;
}
#container .box1 .bb {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 15px auto;
}
#container .box1 .bb img {
  height: 25px;
  width: 25px;
  margin-right: 20px;
  object-fit: cover;
}
#container .box1 .bb p {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  position: relative;
  width: 100%;
  align-items: start;
}
#container .box1 .bb p span{
  overflow: hidden;
  width: 140px;
}

#container .box1 ul {
  width: 80%;
  margin: 0 auto;
}
#container .box1 ul li {
  font-size: 13px;
  list-style-type: square;
  width: 100%;
  margin: 2px auto;
  margin-left: 10px;
}
#container .box1 .reseaux {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-around;
  margin: 5px auto;
}
#container .box1 .resaux img {
  height: 30px;
  width: 30px;
}

#container .box2 {
  width: 600px;
  height: 1100px;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}
#container .box2 .info_users{
  margin-top: 30px;
}
#container .box2 h1 {
  font-size: 14px;
  width: 80%;
  margin: 7px auto;
  background-color: var(--font-color_titre);
  color: var(--texte-color_titre);
  padding: 4px 10px;
  border-radius: 4px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
#container .box2  h1 img {
  height: 25px;
  width: 25px;
  margin-right: 15px;

}
#container .box2 .info_users p {
  font-size: 12px;
  width: 85%;
  margin: 15px auto;
  text-align: justify;
}
#container .box2 p {
  font-size: 12px;
  width: 85%;
  margin: 15px auto;
}

#container .box2 .experiences .div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10px auto;
  flex-wrap: wrap;
}

#container .box2 .experiences .div1 {
  display: flex;
  align-items: center;
  margin: 10px;
  width: 80%;
  position: relative;
}

#container .box2 .experiences .div2 {
  display: flex;
  align-items: center;
  margin: 7px 10px;
  width: 80%;
}
#container .box2 .div .info {
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 100%;
}
#container .box2 .div h4 {
  width: 80%;
  font-size: 13px;
  margin-top: 2px;
}
#container .box2 .div p {
  font-size: 12px;
  width: 100%;
  margin: 0;
}
#container .box2 .div span {
  font-size: 10px;
  color: #346dc8;
}
#container .box2 .div .div1 #strong {
  height: 50px;
  display: block;
  padding: 2px;
  background-color: var(--font-color_section);
  margin-right: 15px;
}
#container .box2 .div .div2 #strong {
  height: 50px;
  display: block;
  padding: 2px;
  background-color: var(--font-color_section);
  margin-right: 15px;
}


#container .box2 .experiences .outils {
  width: 90%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: -3px;
}
#container .box2 .outils p {
  display: flex;
  align-items: center;
  width: auto;
  font-size: 15px;
  font-weight: 600;
  margin-top: 2px;
  margin-right: 20px;
}
#container .box2 .outils span {
  padding: 3px;
  background-color: #000000;
  margin-right: 10px;
}
#container .box2 .div-comp {
  width: 80%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  position: relative;
  flex-wrap: wrap;
}
#container .box2 .comp {
  padding: 3px 10px;
  font-size: 13px;
  border-radius: 5px;
  background-color: #e2e2e2;
  margin: 5px 10px;
}

@media screen and (max-width: 820px) {
  #box #container .haut{
    height: 20px;
  }
  #box #container .bas{
    height: 20px;
  }
  #box #container {
    width: 493px;
    height: 750px;
  }
  #box #container .img {
    width: 120px;
    height: 100px;
    top: 35px;
    left: 30px;
  }
  #box #container .box1 {
    width: 180px;
    height: 730px;
    margin-top: 10px;
    padding-top: 10px;
    border-width: 2px;
  }
  #box #container .box1 h1 {
    width: 80%;
    font-size: 10px;
    margin: 5px auto;
  }
  #box #container .box1 .profil {
    margin-top: 15px;
    padding: 5px 7px;
  }
  #box #container .box1 .profil .nom{
    font-size: 8px;
  }
  #box #container .box1 .profil h2{
    font-size: 11px;
  }
  #box #container .box1 h1 img {
    height: 10px;
    width: 10px;
    margin-right: 10px;
  }
  #box #container .box1 .bb {
    width: 120px;
    margin: 6px 20px;
  }
  #box #container .box1 .bb img {
    height: 15px;
    width: 15px;
    margin-right: 7px;
  }
  #box #container .box1 .bb p {
    font-size: 8px;
    overflow: hidden;
  }
  #box #container .box1 ul {
    width: 80%;
    margin: 0 auto;
  }
  #box #container .box1 ul li {
    font-size: 8px;
  }
  #box #container .box1 .reseaux {
    width: 80%;
  }
  #box #container .box1 .reseaux img {
    height: 20px;
    width: 20px;
  }

  #box #container .box2 {
    width: 330px;
    height: 750px;
    padding: 10px 10px;
  }
  #box #container .box2 .info_users{
    margin-top: 40px;
  }
  #box #container .box2 .info_users p{
    font-size: 8px;
  }
  #box #container .box2 h1 {
    font-size: 10px;
    width: 80%;
    margin: 5px 20px;
    text-transform: uppercase;
  }
  #box #container .box2 h1 img {
    height: 17px;
    width: 17px;
  }
  #box #container .box2 .p {
    font-size: 7px;
    width: 80%;
    margin-left: 20px;
  }
  #box #container .box2 .experiences .div1 {
    margin-top: -2px;
    width: 90%;
  }
  #box #container .box2 .div {
    width: 100%;
  }

  #box #container .box2 .div h4 {
    width: 90%;
    font-size: 9px;
  }
  #box #container .box2 .div p {
    font-size: 8px;
    width: 260px;
  }
  #box #container .box2 .div span {
    font-size: 6px;
    width: 100px;
  }
  #box #container .box2 .div .strong {
    padding: 1px;
    margin-right: 7px;
    height: 30px;
  }
  #box #container .box2 .experiences .outils {
    width: 90%;
    margin-top: -2px;
  }
  #box #container .box2 .outils p {
    font-size: 8px;
    margin-top: 2px;
    margin-left: 10px;
  }
  #box #container .box2 .outils p span {
    padding: 2px;
  }
  #box #container .box2 .div-comp {
    width: 90%;
  }
  #box #container .box2 .comp {
    font-size: 7px;
    padding: 1px 5px;
    margin: 5px;
    margin-right: 3px;
    margin-top: 4px;
  }
}

@media screen and (max-width: 520px) {
 
  #box #container {
    width: 340px;
    height: 550px;
    margin-top: 10px;
  }
  #box #container .img {
    width: 90px;
    height: 70px;
    top: 20px;
    left: 20px;
  }

  #box #container .box1 {
    width: 120px;
    height: 530px;
    margin-top: 10px;
    padding-top: 10px;
    border-width: 2px;
  }
  #box #container .box1 h1 {
    width: 80%;
    font-size: 6px;
    margin: 5px auto;
    text-align: center;
    align-items: start;
    padding: 3px 10px;
  }
  #box #container .box1 .profil .nom{
    background-color: #ffffff;
    font-size: 6px;
    color: #000000;
    width: 100%;
    padding: 5px 10px;
  }
  #box #container .box1 .profil h2{
    font-size: 9px;
  }
  #box #container .box1 h1 img {
    height: 8px;
    width: 8px;
    margin-right: 5px;
  }
  #box #container .box1 .bb {
    width: 120px;
    margin: 6px 10px;
    text-align: left;
    align-items: start;
  }
  #box #container .box1 .bb img {
    height: 10px;
    width: 10px;
    margin-right: 5px;
  }
  #box #container .box1 .bb p {
    font-size: 5px;
    width: 100%;
    align-items: start;
    /* margin-left: 5px; */
  }
  #box #container .box1 ul {
    width: 80%;
    margin: 0 auto;
  }
  #box #container .box1 ul li {
    font-size: 5.5px;
  }
  #box #container .box1 .reseaux {
    width: 80%;
  }
  #box #container .box1 .reseaux img {
    height: 20px;
    width: 20px;
  }

  #box #container .box2 {
    width: 215px;
    height: 550px;
    padding: 10px 10px;
  }
  #box #container .box2 .info_users{
    margin-top: 20px;
  }
  #box #container .box2 .info_users p{
    font-size: 6px;
    margin: 0 7px;
    width: 185px;
  }
  #box #container .box2 h1 {
    font-size: 6px;
    width: 80%;
    margin: 5px 20px;
  }
  #box #container .box2 .p {
    font-size: 6px;
    width: 90%;
    margin-left: 10px;
  }
  #box #container .box2 .experiences .div1 {
    width: 90%;
    position: relative;
  }
  #box #container .box2 .experiences .div1 .info p {
    width: 180px;
  }
  #box #container .box2 .experiences .div {
    width: 100%;
    margin-top: -2px;
  }

  #box #container .box2 .div h4 {
    font-size: 7px;
  }
  #box #container .box2 .div p {
    font-size: 6px;
  }
  #box #container .box2 .div span {
    font-size: 4.5px;
    width: 100px;
  }
  #box #container .box2 .div .strong {
    padding: 1px;
    margin-right: 10px;
    height: 20px;
  }

  #box #container .box2 .experiences .outils {
    width: 90%;
    margin-top: -2px;
  }
  #box #container .box2 .experiences .outils p {
    font-size: 7px;
    margin-bottom: 7px;
  }
  #box #container .box2 .div-comp {
    width: 90%;
  }
  #box #container .box2 .comp {
    font-size: 6px;
    padding: 1px 5px;
    margin: 5px;
    margin-right: 1px;
    margin-top: 2px;
  }
}
p{
  color: black;
}
li{
  color: black;
}
span{
  color: black;
}
h4{
  color: black;
}
