@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Nunito&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 0.5px;
}

body {
  font-family: "Nunito", sans-serif;
}

.emploi {
  width: 100%;
  padding: 30px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.emploi .box {
  width: 360px;
  height: 470px;
  position: relative;
  border: 2px solid #4f4f4f73;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 7px 7px 10px 1px #34343469;
  margin: 30px;
}
.emploi .box img {
  width: 100%;
  height: 210px;
  object-fit: cover;
  border-bottom: 2.5px solid #2c2c2c77;
}
.emploi .box h1 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 80px;
  width: 80%;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  background-color: #4746464e;
  color: #ffffff;
  backdrop-filter: blur(2px);
}
.emploi .box p {
  width: 100%;
  margin: 10px 0;
  font-size: 14px;
  padding: 0 15px;
  line-height: 22px;
}

.emploi .box a {
  width: 50%;
  display: block;
  text-align: center;
  margin: 10px auto;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 7px;
  background-color: #4f4f4f;
  color: white;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
}
