/* section 2 et toute ces modification  */

.section2 {
    position: fixed;
    top: 80px;
    height: 100vh;
    width: 280px;
    z-index: 10;
    background-color: #ffffff;
    transition: all 0.5s ease;
  }
  .section2 .img111{
    position: absolute;
    top: 10px;
    right: 20px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-color: #bababa;
    border-radius: 50%;
    display:none ;
    z-index: 5;
  }
  .section2 .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    border-right: 2px solid rgba(139, 139, 139, 0.379);
  }
  .section2 .box1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    margin-top: -120px;
    position: relative;
  }
  .section2 .box1 .statut{
    padding: 5px 20px;
    border-radius: 7px;
    background-color: #000000;
    color: #ffffff;
    font-weight: 700;
    font-style: italic;
    position: absolute;
  font-size: 15px;
  box-shadow:  0 0 5px 2px ;
  }
  
  .section2 .box1 .div_statut{
    padding: 10px 20px ;
    border-radius: 10px;
    background-color: #ffffff;
    position: absolute;
  font-size: 15px;
  top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  left: -200%;
  }
  .section2 .box1 .div_statut img{
    height: 20px;
    width: 20px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .section2 .box1 .div_statut .occ{
    padding: 5px 10px;
    border-radius: 7px;
    background-color: #03d014;
    color: #ffffff;
    font-weight: 700;
    font-style: italic;
  font-size: 14px;
  box-shadow:  0 0 2px 2px #00000071 ;
  margin-left: 10px;
  border: none;
  }
  .section2 .box1 .div_statut .disp{
    padding: 5px 10px;
    border-radius: 7px;
    background-color: #020202;
    color: #ffffff;
    font-weight: 700;
    font-style: italic;
  font-size: 14px;
  margin-right: 10px;
  border: none;
  box-shadow:  0 0 2px 2px #00000071 ;
  }

  .section2 .box1 .occ{
    padding: 5px 10px;
    border-radius: 7px;
    background-color: #01d212;
    color: #ffffff;
    font-weight: 700;
    font-style: italic;
  font-size: 14px;
  box-shadow:  0 0 2px 2px #00000071 ;
  margin-left: 10px;
  border: none;
  }
  .section2 .box1  .disp{
    padding: 5px 10px;
    border-radius: 7px;
    background-color: #020202;
    color: #ffffff;
    font-weight: 700;
    font-style: italic;
  font-size: 14px;
  box-shadow:  0 0 2px 2px #000000 ;
  margin-right: 10px;
  border: none;
  }
  
  .section2 .box1 img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid rgba(80, 80, 80, 0.375);
    box-shadow: 0px 0px 5px 1px #888888;
  }
  .section2 .box1 span {
    height: 1px;
    width: 100%;
    background-color: rgba(46, 46, 46, 0.354);
    display: block;
    margin: 10px 0;
  }
  .section2 .box1 h2 {
    font-size: 16px;
    color: rgb(0, 0, 0);
    margin-top: -2px;
    color: #212121;
    text-align: center;
    margin-bottom: 5px;
    padding: 10px 20px;
    text-transform: capitalize;
  }


  .section2 .box2{
    h3{
      margin-bottom: 15px;
      padding: 5px 17px;
      color: #0055c5;
      text-align: center;
      font-size: 16px;
    }
  }
  
  .section2 .box3 {
    width: 100%;
  } 

  .section2 .box3 ul{
    a{
      text-decoration: none;

      li:hover{
        background-color: #212121;
        color: #ffffff;
      }

       li{
      list-style: none;
      display: flex;
      align-items: center;
      font-size: 16px;
      color: #212121;
      margin-bottom: 15px;
      margin-left: -15px;
      padding-right: 10px;
      border-bottom: 1px solid #88888861;
      transition: all 0.4s;
      img{
        width: 35px;
        margin-right: 15px;
      }
    }
    }
   
  }

  @media screen and (max-width : 1050px) {
    .section2{
      margin-left: -150%;
    }
    .section2 .img111{
      display:block ;
    }
  }

  .section3 .img222{
    position: fixed;
    top: 50%;
    left: 20px;
    height: 50px;
    width: 50px;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 50%;
    z-index: 5;
    display: none;
  }
  @media screen and (max-width : 1400px) {
    .section3 .img222{
      display: none;
    }
  }
  @media screen and (max-width : 1050px) {
    .section3 .img222{
      position: fixed;
      top: 50%;
      left: 20px;
      height: 50px;
      width: 50px;
      background-color: #ffffff;
      cursor: pointer;
      border-radius: 50%;
      z-index: 5;
      display: block;
    }
  }

  .section1{
    display: none;
  }