@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
}

/* modification de la deuxieme section */

.slider-area {
  height: 700px;
  width: 100%;
  position: relative;
}

.slider-area .slider-item {
  height: 700px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slider-area .slider-item .box {
  position: absolute;
  display: flex;
  width: 100%;
  height: 700px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(14, 14, 14, 0.508);
}

.slider-area .slider-item h1 {
  font-size: 50px;
  color: white;
  padding: 40px 20px;
  margin-top: -150px;
  opacity: 0;
  text-align: left;
  transition: all 1s ease;
  width: 50%;
  transform: translateY(-600px);
  background-color: #19191963;
  margin-left: -150px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
}

.slider-area .slider-item img {
  height: 700px;
  width: 100%;
  object-fit: cover;
}

.slider-area .slider-item p {
  color: #ffff;
  font-size: 20px;
  width: 50%;
  margin-left: -200px;
  transform: translateY(200px);
  opacity: 0;
  transition: all 1s ease;
}

.slider-area .slider-item a {
  color: #ffff;
  padding: 15px 30px;
  font-size: 18px;
  background-color: #f39c12;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 60px;
  margin-left: -700px;
  transform: translateY(200px);
  opacity: 0;
  transition: all 1s ease;
}

.active .slider-item h1 {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 1s;
}
.active .slider-item p {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 1.4s;
}
.active .slider-item a {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 1.6s;
}
@media screen and (max-width: 1400px) {
  .slider-area {
    height: 600px;
  }

  .slider-area .slider-item {
    height: 600px;
    width: 100%;
  }

  .slider-area .slider-item .box {
    width: 100%;
    height: 600px;
  }

  .slider-area .slider-item h1 {
    font-size: 40px;
    color: white;
    padding: 40px 20px;
    margin-top: -150px;
    opacity: 0;
    text-align: left;
    transition: all 1s ease;
    width: 50%;
    transform: translateY(-600px);
    background-color: #00223363;
    margin-left: -150px;
    border-radius: 20px;
    backdrop-filter: blur(2px);
  }

  .slider-area .slider-item img {
    height: 600px;
    width: 100%;
    object-fit: cover;
  }

  .slider-area .slider-item p {
    color: #ffff;
    font-size: 20px;
    width: 50%;
    margin-left: -200px;
    transform: translateY(200px);
    opacity: 0;
    transition: all 1s ease;
  }

  .slider-area .slider-item a {
    color: #ffff;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #f39c12;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 60px;
    margin-left: -700px;
    transform: translateY(200px);
    opacity: 0;
    transition: all 1s ease;
  }

  .active .slider-item h1 {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 1s;
  }
  .active .slider-item p {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 1.4s;
  }
  .active .slider-item a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 1.6s;
  }
}

@media screen and (max-width: 1000px) {
  .slider-area {
    height: 500px;
  }
  .slider-area .slider-item {
    height: 500px;
    width: 100%;
  }
  .slider-area .slider-item .box {
    width: 100%;
    height: 500px;
  }
  .slider-area .slider-item h1 {
    font-size: 40px;
    color: white;
    padding: 40px 20px;
    margin-top: -100px;
    opacity: 0;
    text-align: left;
    transition: all 1s ease;
    width: 60%;
    transform: translateY(-600px);
    background-color: #00223363;
    margin-left: -150px;
    border-radius: 20px;
    backdrop-filter: blur(2px);
  }

  .slider-area .slider-item img {
    height: 500px;
    width: 100%;
    object-fit: cover;
  }

  .slider-area .slider-item p {
    color: #ffff;
    font-size: 18px;
    width: 50%;
    margin-left: -200px;
    transform: translateY(200px);
    opacity: 0;
    transition: all 1s ease;
  }

  .slider-area .slider-item a {
    color: #ffff;
    padding: 5px 20px;
    font-size: 15px;
    background-color: #f39c12;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: -100px;
    transform: translateY(200px);
    opacity: 0;
    transition: all 1s ease;
  }

  .active .slider-item h1 {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 1s;
  }
  .active .slider-item p {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 1.4s;
  }
  .active .slider-item a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 1.6s;
  }
}
@media screen and (max-width: 700px) {
  .slider-area {
    height: 400px;
  }
  .slider-area .slider-item {
    height: 400px;
    width: 100%;
  }
  .slider-area .slider-item .box {
    width: 100%;
    height: 400px;
  }
  .slider-area .slider-item h1 {
    font-size: 23px;
    color: white;
    padding: 20px 20px;
    margin-top: -100px;
    opacity: 0;
    text-align: left;
    transition: all 1s ease;
    width: 70%;
    transform: translateY(-600px);
    background-color: #00223363;
    margin-left: -50px;
    border-radius: 20px;
    backdrop-filter: blur(2px);
  }

  .slider-area .slider-item p {
    color: #ffff;
    font-size: 14px;
    width: 80%;
    margin-left: 20px;
    margin-top: 20px;
  }

  .slider-area .slider-item img {
    height: 400px;
    width: 100%;
    object-fit: cover;
  }
  
  .slider-area .slider-item a {
    color: #ffff;
    padding: 5px 20px;
    font-size: 15px;
    background-color: #f39c12;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: -100px;
    transform: translateY(200px);
    opacity: 0;
    transition: all 1s ease;
  }

  .active .slider-item h1 {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 1s;
  }
  .active .slider-item p {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 1.4s;
  }
  .active .slider-item a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 1.6s;
  }
}
@media screen and (max-width: 650px){
  .slider-area {
    margin-top: 80px;
  }
  
}
@media screen and (max-width: 500px) {
  .slider-area {
    height: 400px;
  }
  .slider-area .slider-item {
    height: 400px;
    width: 100%;
  }
  .slider-area .slider-item .box {
    width: 100%;
    height: 400px;
  }
  .slider-area .slider-item h1 {
    font-size: 20px;
    color: white;
    padding: 20px 20px;
    margin-top: -100px;
    opacity: 0;
    text-align: left;
    transition: all 1s ease;
    width: 70%;
    transform: translateY(-600px);
    background-color: #00223363;
    margin-left: -50px;
    border-radius: 20px;
    backdrop-filter: blur(2px);
  }

  .slider-area .slider-item img {
    height: 400px;
    width: 100%;
    object-fit: cover;
  }

  .slider-area .slider-item p {
    color: #ffff;
    font-size: 12px;
    width: 90%;
    transform: translateY(200px);
    opacity: 0;
    transition: all 1s ease;
    margin-left: 10px;
  }

  .slider-area .slider-item a {
    color: #ffff;
    padding: 5px 20px;
    font-size: 15px;
    background-color: #f39c12;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: -100px;
    transform: translateY(200px);
    opacity: 0;
    transition: all 1s ease;
  }

  .active .slider-item h1 {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 1s;
  }
  .active .slider-item p {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 1.4s;
  }
  .active .slider-item a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 1.6s;
  }
}
@media screen and (max-width: 400px) {
  .slider-area {
    height: 400px;
  }
  .slider-area .slider-item {
    height: 400px;
    width: 100%;
  }
  .slider-area .slider-item .box {
    width: 100%;
    height: 400px;
  }
  .slider-area .slider-item h1 {
    font-size: 23px;
    color: white;
    padding: 20px 20px;
    margin-top: -100px;
    opacity: 0;
    text-align: left;
    transition: all 1s ease;
    width: 80%;
    transform: translateY(-600px);
    background-color: #00223363;
    border-radius: 20px;
    backdrop-filter: blur(2px);
  }

  .slider-area .slider-item img {
    height: 400px;
    width: 100%;
    object-fit: cover;
  }

  .slider-area .slider-item p {
    color: #ffff;
    font-size: 14px;
    width: 80%;
    transform: translateY(200px);
    opacity: 0;
    transition: all 1s ease;
    margin-left: 20px;
  }

  .slider-area .slider-item a {
    color: #ffff;
    padding: 5px 20px;
    font-size: 15px;
    background-color: #f39c12;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: -100px;
    transform: translateY(200px);
    opacity: 0;
    transition: all 1s ease;
  }

  .active .slider-item h1 {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 1s;
  }
  .active .slider-item p {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 1.4s;
  }
  .active .slider-item a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 1.6s;
  }
}

.partie-box {
  padding: 20px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.partie-box .box2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* margin-right: -300px; */
  width: 600px;
}
.partie-box .box2 .img1 {
  width: 80%;
  height: 280px;
  object-fit: cover;
  opacity: 0.2;
  border-radius: 20px;
}
.partie-box .box2 .img2 {
  width: 90%;
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
  margin-left: 60px;
  margin-top: -40px;
  z-index: 1;
}
.partie-box .box1 {
  display: flex;
  flex-direction: column;
  width: 550px;
  align-items: start;
}
.partie-box .box1 h1 {
  width: 400px;
  text-align: left;
  font-size: 40px;
  font-family: "Dela Gothic One", cursive;
}
.partie-box .box1 p {
  width: 90%;
  text-align: left;
  font-size: 18px;
  margin: 20px 0;
}
.partie-box .box1 a {
  padding: 7px 10px;
  font-size: 18px;
  letter-spacing: 1px;
  background-color: #0066ff;
  color: #ffff;
  border-radius: 10px;
  transition: all 0.3s;
  margin-bottom: 50px;
}
.partie-box .box1 a:hover {
  background-color: #002233;
  box-shadow: 0 0 4px 2px #0066ff;
}

@media screen and (max-width: 700px) {
  .partie-box .box2 {
    width: 100%;
  }
  .partie-box .box2 .img1 {
    width: 300px;
    height: 250px;
    object-fit: cover;
    opacity: 0.2;
    border-radius: 20px;
    margin-left: -50px;
  }
  .partie-box .box2 .img2 {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    margin-left: -50px;
    margin-top: -40px;
    z-index: 1;
  }
  .partie-box .box1 {
    display: flex;
    flex-direction: column;
    width: 550px;
    align-items: start;
  }
  .partie-box .box1 h1 {
    width: 400px;
    text-align: left;
    font-size: 30px;
    font-family: "Dela Gothic One", cursive;
  }
  .partie-box .box1 p {
    width: 90%;
    text-align: left;
    font-size: 16px;
    margin: 20px 0;
  }
  .partie-box .box1 a {
    padding: 7px 10px;
    font-size: 16px;
    letter-spacing: 1px;
    background-color: #0066ff;
    color: #ffff;
    border-radius: 10px;
    transition: all 0.3s;
    margin-bottom: 50px;
  }
  .partie-box .box1 a:hover {
    background-color: #002233;
    box-shadow: 0 0 4px 2px #0066ff;
  }
}
@media screen and (max-width: 500px) {
  .partie-box .box2 {
    width: 100%;
  }
  .partie-box .box2 .img1 {
    width: 250px;
    height: 250px;
    object-fit: cover;
    opacity: 0.2;
    border-radius: 20px;
    margin-left: 0px;
  }
  .partie-box .box2 .img2 {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    margin-left: 0px;
    margin-top: -40px;
    z-index: 1;
  }
  .partie-box .box1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
  }
  .partie-box .box1 h1 {
    width: 100%;
    text-align: left;
    font-size: 25px;
    font-family: "Dela Gothic One", cursive;
    padding: 10px 20px;
  }
  .partie-box .box1 p {
    width: 100%;
    text-align: left;
    font-size: 15px;
    margin: 0 0;
    padding: 10px;
  }
  .partie-box .box1 a {
    padding: 7px 10px;
    font-size: 14px;
    letter-spacing: 1px;
    background-color: #0066ff;
    color: #ffff;
    border-radius: 10px;
    transition: all 0.3s;
    margin-bottom: 50px;
  }
  .partie-box .box1 a:hover {
    background-color: #002233;
    box-shadow: 0 0 4px 2px #0066ff;
  }
}

.reference {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 80px;
  flex-wrap: wrap;
}
.reference .container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 250px;
  position: relative;
  box-shadow: 9px 9px 5px 1px rgba(0, 0, 0, 0.4);
  margin: 40px;
  overflow: hidden;
  background-color: #0066ff;
}
.reference .container .box1 {
  height: 100px;
  width: 100px;
  z-index: 2;
  margin-right: 10px;
}
.reference .container .box1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
.reference .container .box2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 60%;
  padding:20px 10px;
}
.reference .container .box2 h1 {
  text-align: left;
  font-size: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
  color: #f5f5f5;
}
.reference .container .box2 p {
  color: #f5f5f5;
  font-size: 14px;
  line-height: 25px;
}
.reference .container .box2 a {
  color: #e1e1e1;
  margin-top: 20px;
  text-decoration: none;
  border: 2px solid #000000;
  padding: 5px 20px;
  font-weight: 600;
  border-radius: 5px;
}


@media screen and (max-width: 1000px) {
  .reference .container {
    width: 45%;
    height: 330px;
    position: relative;
    box-shadow: 7px 7px 4px 2px rgba(0, 0, 0, 0.4);
    margin: 20px;
    overflow: hidden;
  }
  .reference .container .box1 {
    height: 100px;
    width: 100px;
    z-index: 2;
  }
  .reference .container .box1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
  }
  
}

@media screen and (max-width: 900px) {
  .reference {
    flex-direction: column;
  }
  .reference .container {
    width: 80%;
    height: 380px;
    position: relative;
    box-shadow: 7px 7px 4px 2px rgba(0, 0, 0, 0.4);
    margin: 20px;
    overflow: hidden;
    flex-direction: column;
  }

  .reference .container .box2 {
    height: 50%;
    width: 100%;
    padding: 10px;
  }
  .reference .container .box2 h1 {
    text-align: left;
    font-size: 20px;
    margin-left: 20px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 4px;
  }
  .reference .container .box2 p {
    text-align: left;
    font-size: 14px;
    margin-left: 30px;
    padding: 10px;
  }
  .reference .container .box2 a {
    color: #ffffff;
    margin-top: 20px;
    text-decoration: none;
    border: 2px solid #000000;
    padding: 7px 20px;
    font-weight: 600;
    font-size: 15px;
  }
}

@media screen and (max-width: 700px) {
  .reference {
    flex-direction: column;
  }
  .reference .container {
    width: 90%;
    height: 380px;
    position: relative;
    box-shadow: 7px 7px 4px 2px rgba(0, 0, 0, 0.4);
    margin: 20px;
    overflow: hidden;
  }
  .reference .container .box1 {
    z-index: 2;
    margin-top: 10px;
  }
  .reference .container .box1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .reference .container .box2 h1 {
    text-align: left;
    font-size: 16px;
    margin-left: 30px;
    text-transform: uppercase;
  }
  .reference .container .box2 p {
    text-align: left;
    font-size: 14px;
    margin-left: 30px;
  }
  .reference .container .box2 a {
    color: #ffffff;
    margin-top: 20px;
    text-decoration: none;
    border: 2px solid #000000;
    padding: 7px 17px;
    font-weight: 600;
    font-size: 14px;
  }
}
@media screen and (max-width: 400px) {
  .reference {
    flex-direction: column;
  }
  .reference .container {
    width: 95%;
    height: 330px;
    position: relative;
    box-shadow: 7px 7px 4px 2px rgba(0, 0, 0, 0.4);
    margin: 20px;
    overflow: hidden;
  }

  .reference .container .box1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .reference .container .box2 {
    padding: 0 0;
  }
  .reference .container .box2 h1 {
    text-align: left;
    font-size: 18px;
    margin-left: 30px;
    text-transform: uppercase;
  }
  .reference .container .box2 p {
    text-align: left;
    font-size: 13px;
    margin-left: 30px;
  }
  .reference .container .box2 a {
    color: #ffffff;
    margin-top: 20px;
    text-decoration: none;
    border: 2px solid #000000;
    padding: 7px 17px;
    font-weight: 600;
    font-size: 13px;
  }
}

.box-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 30px 20px;
  height: 800px;
  background-color: #000000;
}

.partie-box1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.partie-box1 .box1 {
  width: 400px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 30px;
  box-shadow: 8px 8px 7px 1px rgba(36, 36, 36, 0.4);
  border: 1px solid #92929262;
  background-color: #ffffff;
  border-radius: 7px;
}
.partie-box1 .box1 h2 {
  text-align: center;
  font-size: 40px;
  width: 100%;
}
.partie-box1 .box2 {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.partie-box1 .box2 img {
  width: auto;
  height: 600px;
  object-fit: cover;
  border-radius: 10px;
  /* filter: drop-shadow(10px 10px 5px rgb(255, 255, 255)); */
}
@media screen and (max-width: 1000px) {
  .box-section {
    height: 800px;
    background-color: #f2f0f0;
  }

  .partie-box1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .partie-box1 .box1 {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 30px;
    border: 2px solid #92929289;
    background-color: #ffffff;
    border-radius: 7px;
    margin: 20px;
  }
  .partie-box1 .box1 h2 {
    text-align: center;
    font-size: 30px;
    width: 100%;
    text-transform: capitalize;
  }
  .partie-box1 .box2 {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .partie-box1 .box2 img {
    width: 400px;
    height: 700px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #92929289;
  }
}

@media screen and (max-width: 800px) {
  .box-section {
    height: 800px;
    background-color: #f2f0f0;
  }
  .partie-box1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .partie-box1 .box1 {
    width: 200px;
    height: 200px;
  }
  .partie-box1 .box1 h2 {
    text-align: center;
    font-size: 20px;
    width: 100%;
    text-transform: capitalize;
  }
  .partie-box1 .box2 {
    width: 350px;
  }
  .partie-box1 .box2 img {
    width: 350px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #92929289;
  }
}

@media screen and (max-width: 650px) {
  .box-section {
    height: 900px;
    background-color: #f2f0f0;
  }
  .partie-box1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column-reverse;
  }
  .partie-box1 .box1 {
    width: 250px;
    height: 200px;
  }
  .partie-box1 .box1 h2 {
    text-align: center;
    font-size: 30px;
    width: 100%;
    text-transform: capitalize;
  }
  .partie-box1 .box2 {
    width: 400px;
  }
  .partie-box1 .box2 img {
    width: 400px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #92929289;
  }
}

@media screen and (max-width: 500px) {
  .box-section {
    height: 900px;
    background-color: #f2f0f0;
  }
  .partie-box1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column-reverse;
  }
  .partie-box1 .box1 {
    width: 200px;
    height: 180px;
  }
  .partie-box1 .box1 h2 {
    text-align: center;
    font-size: 23px;
    width: 100%;
    text-transform: capitalize;
  }
  .partie-box1 .box2 {
    width: 300px;
  }
  .partie-box1 .box2 img {
    width: 300px;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #92929289;
  }
}

.box-section3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px auto;
  flex-direction: column;
}

.box-section3 .box1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 150px;
}

.box-section3 .box1 h2 {
  width: 300px;
  font-weight: bolder;
  font-style: italic;
  text-align: center;
  padding: 5px 10px;
  border-bottom: 2px dotted #202020;
  margin-bottom: 30px;
  color: #0066ff;
}
.box-section3 .box1 p {
  width: 300px;
  text-align: justify;
  padding: 10px;
  line-height: 26px;
}

.box-section3 .box1 .div {
  width: 60%;
}
.box-section3 .box1 .div img {
  width: 100%;
  height: auto;
  object-fit: cover;
  box-shadow: 8px 8px 4px 1px #2d2d2d56;
  border: 1px solid #2c2c2c31;
}

@media screen and (max-width: 900px) {
  .box-section3 {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    flex-direction: column;
  }

  .box-section3 .box1 {
    flex-direction: column;
    margin-bottom: 70px;
  }
  .box-section3 :nth-child(2) {
    flex-direction: column-reverse;
  }
  .box-section3 .box1 h2 {
    font-size: 20px;
    width: 400px;
    margin-bottom: 10px;
  }
  .box-section3 .box1 p {
    font-size: 14px;
    width: 400px;
  }
  .box-section3 .box1 .div {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .box-section3 {
    width: 98%;
  }

  .box-section3 .box1 {
    flex-direction: column;
    margin-bottom: 70px;
  }
  .box-section3 :nth-child(2) {
    flex-direction: column-reverse;
  }
  .box-section3 .box1 h2 {
    font-size: 20px;
    width: 300px;
    margin-bottom: 10px;
  }
  .box-section3 .box1 p {
    font-size: 13px;
    width: 300px;
  }
  .box-section3 .box1 .div {
    width: 100%;
  }
}



.div_section{
  width: 100%;
  margin-top: 30px;
  margin-bottom: 80px;

  .box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    .item{
      margin-left: 50px;
      width: 500px;
      padding: 20px;
      p{
        font-size: 14px;
        line-height: 25px;
      }

      h1{
        font-size: 25px;
        margin-bottom: 20px;
      }
    }

    img{
      width: 500px;
      height: 300px;
      object-fit: cover;
      border-radius: 7px;
      margin-left: 50px;
    }
  }
}


.div-section {
  padding: 30px 0;
  margin: 40px 0;
}

.section3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  width: 100%;
}
.div-section .nth1 {
  background-image: url(../image/image3.png);
  /* background-position: top; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.div-section .nth2 {
  background-color: #a4a4a4;
}
.div-section .nth3 {
  background-image: url(../image/image-2.png);
  /* background-position: top; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.section3 h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 50px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #f7f7f7;
  line-height: 50px;
  text-transform: uppercase;
}
.section3 .box1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 30px 0;
  flex-direction: column;
}

.section3 .box1 .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section3 .box1 .texte {
  width: 600px;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section3 .box1 img {
  height: 500px;
  width: auto;
  padding: 20px;
  border-radius: 10px;
  display: none;
}
.section3 .box1 .texte h2 {
  margin-bottom: 20px;
  width: 90%;
  color: #000000;
  font-size: 35px;
}
.div-section .nth2,
.nth1 .box1 h2 {
  color: #000000;
}
.section3 .box1 .texte p {
  width: 85%;
  font-size: 17px;
  line-height: 30px;
  padding: 10px 0;
  color: #ffffff;
}
.div-section .nth3 .texte p {
  color: #ffffff;
}
.div-section .nth3 .texte h2 {
  color: #ffffff;
}
.section3 .box1 a {
  padding: 7px 10px;
  font-size: 18px;
  letter-spacing: 1px;
  background-color: #0066ff;
  color: #ffff;
  border-radius: 10px;
  transition: all 0.3s;
}
.section3 .box1 a:hover {
  background-color: #002233;
  box-shadow: 0 0 4px 2px #0066ff;
}

@media screen and (max-width: 800px) {
  .section3 .box1 .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .section3 h1 {
    font-size: 30px;
  }

  .section3 .box1 .texte {
    width: 500px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .section3 .box1 img {
    height: 300px;
    width: auto;
    padding: 20px;
    border-radius: 10px;
  }
  .section3 .box1 .texte h2 {
    margin-bottom: 20px;
    width: 70%;
    font-size: 20px;
  }
  .section3 .box1 .texte p {
    width: 380px;
    font-size: 15px;
    line-height: 30px;
    padding: 10px 0;
  }
}
@media screen and (max-width: 600px) {
  .section3 .box1 {
    padding: 0px;
    width: 99%;
  }
  .section3 .box1 .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .section3 h1 {
    font-size: 22px;
    margin-bottom: 5px;
    width: 300px;
  }
  .section3 .box1 .texte {
    width: 100%;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .section3 .box1 img {
    height: 300px;
    width: auto;
    padding: 20px;
    border-radius: 10px;
  }
  .section3 .box1 .texte h2 {
    margin-bottom: 20px;
    width: 90%;
    font-size: 20px;
  }
  .section3 .box1 .texte p {
    width: 100%;
    font-size: 15px;
    line-height: 30px;
    padding: 0;
  }
  .section3 .box1 a {
    padding: 7px 10px;
    font-size: 15px;
    letter-spacing: 1px;
    background-color: #0066ff;
    color: #ffff;
    border-radius: 10px;
    transition: all 0.3s;
  }
}

.temoin {
  width: 100%;
  padding: 80px 30px;
  background-color: #a4a4a4;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0;
}
.temoin .box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  height: 350px;
  padding: 0 20px;
  background-color: #ffffff;
  border-radius: 7px;
  margin: 0 30px;
  box-shadow: 0 0 8px 2px #000000;
  position: relative;
}
.temoin .box p {
  font-size: 14px;
  text-align: center;
  color: #000000;
}
.temoin .box .img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 1px solid #000000;
  box-shadow: 0 0 2px 2px;
  object-fit: cover;
  position: absolute;
  bottom: 20px;
}
.temoin .box span {
  font-size: 80px;
  font-weight: bold;
  color: #f39c12;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%);
}

@media screen and (max-width: 600px) {
  .temoin {
    width: 100%;
    padding: 80px 5px;
    background-color: #a4a4a4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
  }
}

.slider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}
.slider .item {
  width: 100%;
  position: relative;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
.slider .item img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -3;
}
.slider .item h2 {
  font-size: 45px;
  margin-bottom: 20px;
  width: 40%;
  margin-left: -200px;
  padding: 30px;
  border-radius: 10px;
  background-color: #0022335c;
  color: #ffff;
  backdrop-filter: blur(5px);
  text-align: center;
}

.slider .item p {
  font-size: 18px;
  width: 40%;
  margin-left: -200px;
  color: #ffff;
  font-size: 20px;
  transition: all 0.5s;
}
/* Animation slide-in */
@keyframes slideIn {
  from {
    transform: translateY(700px);
  }
  to {
    transform: translateY(0);
  }
}

/* Applique l'animation slide-in au titre actif */
.slider1 .active .item h2 {
  animation: 1.2s ease-out slideIn;
}
.slider1 .active .item p {
  animation: 1.2s ease-out slideIn;
  animation-delay: 0.3s;
}
.slider .item .effect {
  position: absolute;
  width: 100%;
  height: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #00223368;
  z-index: -1;
  filter: blur(2px);
}

.slider .item .formes1 {
  -webkit-border-radius: 51px 127px 92px 200px; /*Safari, Chrome*/
  -moz-border-radius: 51px 127px 92px 200px; /*Firefox*/
  border-radius: 51px 127px 92px 200px;
  height: 200px;
  width: 150px;
  position: absolute;
  top: 100px;
  right: 100px;
  background-color: #f39c12;
  z-index: -2;
}

.slider .item .formes2 {
  -webkit-border-radius: 51px 127px 92px 200px; /*Safari, Chrome*/
  -moz-border-radius: 51px 127px 92px 200px; /*Firefox*/
  border-radius: 51px 127px 92px 200px;
  height: 200px;
  width: 250px;
  position: absolute;
  bottom: 100px;
  right: 200px;
  background-color: #0066ff;
  z-index: -2;
}

@media screen and (max-width: 1200px) {
  .slider .item {
    width: 100%;
    position: relative;
    height: 600px;
  }

  .slider .item h2 {
    font-size: 30px;
    margin-bottom: 20px;
    width: 400px;
    margin-left: -200px;
    padding: 30px;
    border-radius: 10px;
  }

  .slider .item p {
    font-size: 16px;
    width: 40%;
    margin-left: -200px;
    color: #ffff;
    font-size: 20px;
    transition: all 0.5s;
  }
}

@media screen and (max-width: 800px) {
  .slider .item {
    width: 100%;
    position: relative;
    height: 500px;
  }

  .slider .item h2 {
    font-size: 25px;
    margin-bottom: 20px;
    width: 400px;
    margin-left: -10px;
    padding: 30px;
    border-radius: 10px;
  }

  .slider .item p {
    font-size: 14px;
    width: 500px;
    margin-left: -10px;
    color: #ffff;
    font-size: 20px;
    transition: all 0.5s;
  }
}
@media screen and (max-width: 600px) {
  .slider .item {
    width: 100%;
    position: relative;
    height: 500px;
  }

  .slider .item h2 {
    font-size: 20px;
    margin-bottom: 20px;
    width: 300px;
    margin-left: -10px;
    padding: 30px;
    border-radius: 10px;
  }

  .slider .item p {
    font-size: 14px;
    width: 300px;
    margin-left: -10px;
    color: #ffff;
    transition: all 0.5s;
  }
}

@media screen and (max-width: 400px) {
  .slider .item {
    width: 100%;
    position: relative;
    height: 500px;
  }

  .slider .item h2 {
    font-size: 18px;
    margin-bottom: 20px;
    width: 250px;
    margin-left: -10px;
    padding: 30px;
    border-radius: 10px;
  }

  .slider .item p {
    font-size: 14px;
    width: 80%;
    margin-left: -10px;
    color: #ffff;
    transition: all 0.5s;
  }
}

.explore {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 100px;
  height: 500px;
}

.explore .t1 {
  height: 300px;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #00223366;
  border-bottom: 2px solid #00223366;
  border-left: 2px solid #00223366;
  margin: 0 20px;
  border-radius: 10px;
}

.explore .t1 h1 {
  padding: 20px;
  font-size: 40px;
  text-align: center;
  padding: 10px;
  width: 80%;
}

.explore .profil {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 300px;
}

.explore .profil .item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  height: 250px;
  border: 1px solid #00223366;
  border-radius: 20px;
  padding: 10px 0;
  margin: 0 20px;
  background-color: #ffffff;
}
.explore .profil .item a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.explore .profil .item img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #00223366;
}
.explore .profil .item p {
  color: #0066ff;
  padding: 2px 5px;
  text-align: center;
  font-size: 15px;
}
.explore .profil .item h3 {
  font-size: 16px;
  padding: 0 5px;
  text-align: center;
  color: #000000;
}
.explore .profil .owl-slider {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .explore {
    height: 500px;
  }

  .explore .t1 {
    height: 300px;
    width: 30%;
    margin: 0 20px;
    border-radius: 10px;
  }

  .explore .t1 h1 {
    padding: 10px 5px;
    font-size: 25px;
    text-align: center;
    width: 80%;
  }

  .explore .profil {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 300px;
  }

  .explore .profil .item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    height: 250px;
    border: 2px solid #00223366;
    border-radius: 20px;
    padding: 10px 0;
    margin: 0 20px;
    background-color: #ffffff;
  }
  .explore .profil .item a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .explore .profil .item p {
    color: #0066ff;
    padding: 2px 5px;
    text-align: center;
    font-size: 15px;
  }
  .explore .profil .item h3 {
    font-size: 16px;
    padding: 0 5px;
    text-align: center;
    color: #000000;
  }
  .explore .profil .owl-slider {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 800px) {
  .explore {
    height: 700px;
    justify-content: space-between;
    flex-direction: column;
  }

  .explore .t1 {
    height: 200px;
    width: 300px;
    margin: 0 20px;
    border-radius: 10px;
    padding: 2px 10px;
    border-top: 2px solid #00223366;
    border-bottom: none;
    border-left: 2px solid #00223366;
    border-right: 2px solid #00223366;
  }

  .explore .t1 h1 {
    padding: 10px 5px;
    font-size: 25px;
    text-align: center;
    width: 80%;
  }

  .explore .profil {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 300px;
  }

  .explore .profil .item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    height: 250px;
    border: 2px solid #00223366;
    border-radius: 20px;
    padding: 10px 0;
    margin: 0 20px;
    background-color: #ffffff;
  }
  .explore .profil .item a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .explore .profil .item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #00223366;
  }
  .explore .profil .item p {
    color: #0066ff;
    padding: 2px 5px;
    text-align: center;
    font-size: 15px;
  }
  .explore .profil .item h3 {
    font-size: 16px;
    padding: 0 5px;
    text-align: center;
    color: #000000;
  }
  .explore .profil .owl-slider {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 700px) {
  .explore {
    display: none;
  }
}

.n_section {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.n_section h1 {
  width: 90%;
  padding: 10px 10px;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  border-radius: 7px;
}

.n_section .box {
  width: 90%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.n_section .box .img1 {
  object-fit: cover;
  width: 200px;
  height: auto;
  margin: 30px;
}

.n_section .box .img2 {
  object-fit: cover;
  width: 150px;
  height: auto;
  margin: 30px;
}

.n_section .box .img3 {
  object-fit: cover;
  width: 350px;
  height: auto;
  margin: 30px;
}

@media screen and (max-width: 1000px) {
  .n_section .box img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin: 30px;
  }

  .n_section .box .img2 {
    object-fit: cover;
    width: 350px;
    height: auto;
    margin: 30px;
  }

  .n_section .box .img1 {
    object-fit: cover;
    width: 750px;
    height: auto;
    margin: 30px;
  }
  .n_section .box .img3 {
    object-fit: cover;
    width: 550px;
    height: auto;
    margin: 30px;
  }
}

@media screen and (max-width: 600px) {
  .n_section .box .img2 {
    object-fit: cover;
    width: 200px;
    height: auto;
    margin: 30px;
  }

  .n_section .box .img1 {
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin: 30px;
  }

  .n_section .box .img3 {
    object-fit: cover;
    width: 300px;
    height: auto;
    margin: 30px;
  }
}

.n_section2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background-color: #000000;
  flex-wrap: wrap;
}
.n_section2 .div {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.n_section2 h1 {
  width: 400px;
  font-size: 35px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}
.n_section2 a {
  padding: 5px 10px;
  font-size: 32px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #0066ff;
}
.n_section2 .box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.n_section2 .box :nth-child(1) {
  height: 150px;
  width: auto;
  margin-right: 10px;
}
.n_section2 .box :nth-child(2) {
  height: 350px;
  width: auto;
  border-radius: 20px;
}

@media screen and (max-width: 800px) {
  .n_section2 {
    padding: 50px 10px;
  }
  .n_section2 h1 {
    font-size: 25px;
  }
  .n_section2 a {
    font-size: 25px;
  }

  .n_section2 div {
    margin: 20px;
  }

  .n_section2 .box :nth-child(1) {
    height: 100px;
    width: auto;
    margin-right: 10px;
  }
  .n_section2 .box :nth-child(2) {
    height: 250px;
    width: auto;
    border-radius: 20px;
  }
}

.service{
  width: 100%;
  padding: 40px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.service .container{
  width: 400px;
  height: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid #a2a2a2;
  border-radius: 20px;
  margin: 30px;
  /* background-color: rgba(210, 238, 255, 0.127); */
  box-shadow: 7px 7px 5px 0 #a2a2a2;
}
.service .container1{
  background-color: rgba(200, 200, 200, 0.127);
}

.service .container h1{
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  width: 100%;
  font-size: 25px;
}
.service .container h3{
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  width: 100%;
  border-top: 2px solid #a2a2a2;
  border-bottom: 2px solid #a2a2a2;
  border-radius: 10px;
  font-size: 18px;
}
.service .container ul{
 width: 100%;
 margin-top: 20px;
}
.service .container li{
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-top: 15px;

 }
 .service .container li img{
  width: 25px;
  height: 25px;
  border: none;
  margin-right: 30px;
 }
 .service .container .box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 }
 .service .container .box a{
  padding: 5px 20px;
  font-size: 14px;
  color: #ffffff;
  background-color: #0066ff;
  margin-top: 20px;
  border-radius: 5px;
 }
 .service .container .box .a{
  background-color: #ffc400;
 }