@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Nunito&display=swap');

*{
    margin:0 ;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
    background-color: #ffffff;
    background-attachment: fixed;
}






/* modification de la deuxieme section */


.section2{
    height: 550px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;margin-bottom: 200px;
    overflow: hidden ;
    margin-bottom: -10px;
}
.section2 .slider{
    display: flex;
    height: 550px;
    width: 100%;
    position: relative;
}
.section2 .slider .box{
    height: 500px;
    width: 100%;
    position: relative;
}


.section2 .slider .box .text{
    position: absolute;
    width: 100%;
    height: 550px;
    background-color: #00000050;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section2 .slider .box .text h1{
   font-size: 25px;
   color: white;
   font-family: 'Almarai', sans-serif;
   width: 600px;
   text-align: center;
   text-align: center;
   margin-top: -100px;
}
.section2 .slider .box .text p{
    font-size: 14px;
    color: white;
    font-family: 'Almarai', sans-serif;
    width: 400px;
    text-align: center;
    text-align: center;
    margin-top: 30px;
 }
 .section2 .slider .box .text button{
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #e4144d;
    color: white;
    margin-top: 30px;
 }


.section2 .slider .box form {
    width: 700px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
}

.section2 .slider .box form .search {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.section2 .slider .box form .filtre{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.section2 .slider .box form .filtre select{
    padding: 7px 15px;
    font-size: 16px;
    background-color: #ffffff;
}




.section2 .slider .box form #search {
    width: 600px;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 0px 30px;
    transition: all 0.5s;
    border: inset none;
}
.section2 .slider .boxform #search:active{
    border: 2px solid #F39C12;
}
.section2 .slider .box form #search:focus{
    border: 2px solid #F39C12;
}
.section2 .slider .box form #search:hover{
    border: 2px solid #F39C12;
}

.section2 .slider .box form #recherche{
    display: none;
}
.section2 .slider .box form label i{
    font-size: 30px;
    transition: all 0.5s;
}
.section2 .slider .box form label i:hover{
    color: aliceblue;
}
.section2 .slider .box form label{
    width: 60px;
    height: 40px;
    background-color: #0a062d;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
    color: aliceblue;
}
.section2 .slider .box form label:hover{
    background-color: #F39C12;
}

.section2 .slider .box .img{
    display: flex;
    width: 100%;
    position: relative;
    z-index: -4;
}

.section2 .slider .box .img img{
    height: 650px;
    object-fit: cover;
    width: 100%;
}

@media screen and (max-width : 1400px) {
    .section2{
        height: 550px;
    }
   
    .section2 .slider .box{
        height: 500px;
        
    }
    
    
    .section2 .slider .box .text{
        height: 550px;
    }
    .section2 .slider .box .text h1{
        font-size: 50px;
       width: 900px;
       margin-top: -20px;
    }
    .section2 .slider .box .text p{
        font-size: 17px;
        width: 600px;
        margin-top: 30px;
     }
     .section2 .slider .box .text button{
        padding: 15px 20px;
        font-size: 16px;
        margin-top: 30px;
     }
    
    
    .section2 .slider .box form {
        width: 700px;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    
    .section2 .slider .box form #search {
        width: 600px;
        height: 40px;
       
    }
   
    .section2 .slider .box form label{
        width: 70px;
        height: 50px;
    }
    .section2 .slider .box form label:hover{
        background-color: #F39C12;
    }
    
    .section2 .slider .box .img{
        display: flex;
        width: 100%;
        position: relative;
        z-index: -4;
    }
    
    .section2 .slider .box .img img{
        height: 550px;
        object-fit: cover;
        width: 100%;
    }
}
@media screen and (max-width : 1200px){
    .section2 .slider .box .text h1{
        font-size: 40px;
       width: 900px;
       margin-top: -20px;
    }
    .section2 .slider .box .text p{
        font-size: 16px;
        width: 600px;
        margin-top: 30px;
     }
}
@media screen and (max-width : 900px){
    .section2 .slider .box .text h1{
        font-size: 30px;
       width: 700px;
       margin-top: -20px;
    }
    .section2 .slider .box .text p{
        font-size: 16px;
        width: 500px;
        margin-top: 30px;
     }
     .section2 .slider .box form #search {
        width: 500px;
        height: 40px;
       
    }
   
    .section2 .slider .box form label{
        width: 70px;
        height: 40px;
    }
    .section2 .slider .box form label i{
        font-size: 20px;
    }
    
    
    .section2 .slider .box form .filtre select{
        padding: 7px 10px;
        font-size: 15px;
        background-color: #ffffff;
    }
}


@media screen and (max-width : 700px){
    .section2{
        height: 450px;
    }
    .section2 .slider .box{
        height: 450px;
        width: 100%;
    }
    .section2 .slider .box .text{
        height: 450px;
    }
    .section2 .slider .box .img img{
        height: 450px;
        object-fit: cover;
        width: 100%;
    }
    .section2 .slider .box .text h1{
        font-size: 25px;
       width: 500px;
       margin-top: 50px;
    }
    .section2 .slider .box .text p{
        font-size: 14px;
        width: 400px;
        margin-top: 30px;
     }
     .section2 .slider .box form {
        width: 90%;
     }
     .section2 .slider .box form #search {
        width: 400px;
        height: 30px;
        font-size: 15px;
    }
   
    .section2 .slider .box form label{
        width: 50px;
        height: 30px;
    }
    .section2 .slider .box form label i{
        font-size: 20px;
    }
    
}
@media screen and (max-width : 600px){
    .section2 .slider .box .text h1{
        font-size: 25px;
       width: 400px;
       margin-top: 50px;
    }
    .section2 .slider .box .text p{
        font-size: 14px;
        width: 350px;
        margin-top: 30px;
     }
     .section2 .slider .box form #search {
        width: 300px;
        height: 30px;
        font-size: 15px;
    }
   
    .section2 .slider .box form label{
        width: 50px;
        height: 30px;
    }
    .section2 .slider .box form label i{
        font-size: 20px;
    }

    .section2 .slider .box form .filtre select{
        font-size: 13px;
        background-color: #ffffff;
    }
}

@media screen and (max-width : 500px){
    .section2 .slider .box .text h1{
        font-size: 20px;
       width: 360px;
       margin-top: 50px;
    }
    .section2 .slider .box .text p{
        font-size: 14px;
        width: 350px;
        margin-top: 30px;
     }
     .section2 .slider .box form #search {
        width: 250px;
        height: 30px;
        font-size: 13px;
    }
   
    .section2 .slider .box form label{
        width: 50px;
        height: 30px;
    }
    .section2 .slider .box form label i{
        font-size: 20px;
    }
}
@media screen and (max-width : 400px){
    .section2 .slider .box .text h1{
        font-size: 20px;
       width: 320px;
       margin-top: 50px;
    }
    .section2 .slider .box .text p{
        font-size: 14px;
        width: 290px;
        margin-top: 30px;
     }
     .section2 .slider .box form #search {
        width: 250px;
        height: 30px;
        font-size: 13px;
    }
   
    .section2 .slider .box form label{
        width: 50px;
        height: 30px;
    }
    .section2 .slider .box form label i{
        font-size: 20px;
    }
}



.produit_vedete .affiche{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 300px;
    overflow: hidden;
}
.produit_vedete .affiche img{
    height: 100px;
    width: 100%;
    object-fit: cover;
    animation: affiche 15s linear alternate infinite ease-in-out;
}
@keyframes affiche{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}






/* modification de la section des profiles */


.produit_vedete{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 50px;
    margin-top: 50px;
    background: linear-gradient(180deg, #b5b5b5 0, #f7f7f7 53%);
    padding: 100px 20px;
    margin-left:auto ;
    margin-right:auto ;
    border-radius: 10px;
    border: 1px solid #2c3e502d;
    box-shadow: 8px 6px 7px 0px #2c3e5080;
 }
 
 .produit_vedete h1{
     margin-bottom: 30px;
     text-transform: uppercase;
     z-index: 2;
     font-size: 35px;
     padding: 10px 20px;
     background-color: #ffffffae;
     backdrop-filter: blur(3px);
     border-radius: 10px;
     text-align: center;
 }

 .produit_vedete .statut,statut2{
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 2px 8px;
    border: 1px solid #002233;
    box-shadow: 0 0 7px 1px #002233;
    background-color: #92929297;
    font-size: 13px;
    display: flex;
    align-items: center;
    border-radius: 7px;
    color: #ffffff;
 }
 .produit_vedete .statut span{
   display: inline-block;
   background-color: #1eff00;
   height: 15px;
   width: 15px;
   border-radius: 50%;
   border: 1px solid #00223363;

 }
 
 .produit_vedete .box1{
     display: flex;
     align-items: center;
     justify-content: center;
     position: relative;
     width: 80%;
     margin-bottom: 50px;
 }
 .produit_vedete .box1 h1{
    margin: auto 0;
    font-size: 20px;
    width: 80%;
 }
 .produit_vedete .box1 .affiche{
    height: 300px;
    border-radius: 10px;
 }
 .produit_vedete .box1 .affiche img{
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
 }
 
 .produit_vedete .articles{
     width: 95%;
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
     flex-wrap: wrap;
 }
 /* .produit_vedete .articles h1{
    font-size: 25px;
 } */
 .produit_vedete .carousel2{
    width: 85%;
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
 }
 .produit_vedete .articles .carousel{
     height: 370px;
     width: 280px;
     background-color: rgba(247, 247, 247, 0.499);
     border-radius: 8px;
     overflow: hidden;
     border: 1px solid rgba(105, 103, 103, 0.257);
     box-shadow: 7px 6px 10px -5px #00000093;
     transition: all 0.5s ease-in-out;
     position: relative;
     margin: 10px 10px;
     background-color: #ffffff;
 }
 .produit_vedete .articles .carousel .divpp{
   margin: 0;
 }
 .produit_vedete .articles .carousel .pp{
    font-size: 14px ;
    width: 100%;
    padding:0 10px;
    margin: 1px ;
 }
 
 
 .produit_vedete .articles .carousel:hover{
     transform: scale(1.02);
 }
 
 .produit_vedete .articles .message{
    font-size: 15px;
    width: 40%;
    text-align: center;
    padding: 20px 30px;
    border: 1px solid #ffffff;
    border: 1px solid #2c3e502d;
    box-shadow: 8px 6px 7px 0px #2c3e5080;
 }
 .produit_vedete .articles .carousel img{
     height: 140px;
     width: 100%;
     object-fit: cover;
     border-bottom: 1px solid rgba(148, 146, 146, 0.499);
     border-bottom-left-radius: 15px;
     border-bottom-right-radius: 15px;
 }
 .produit_vedete .articles .carousel .info-box{
    height: 200px;
    margin-top: -7px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px 10px;
 }
 .produit_vedete .articles .carousel h4 {
    padding: 0 10px;
    font-size: 17px;
    text-transform: capitalize;
    margin-bottom: 5px;
    width: 100%;
 }
 
 
 .produit_vedete .articles .carousel .ville{
    position: absolute;
    top: 16px;
    font-size: 14px;
    width: 100%;
    text-transform: capitalize;
    color: #000000;
    font-weight: bold;
    background-color: #e2e2e250;
    padding: 1px;
    padding-left:10px ;

 }
 .produit_vedete .articles .carousel .nom{
    position: absolute;
    top: 105px;
    left: 10px;
    color: #ffffff;
    background-color: #00223351;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 7px;
    border-radius: 5px;
    text-transform: capitalize;
 }
 .produit_vedete .articles .carousel .ville strong{
    color: #0a062d;
}
 

 .produit_vedete .articles .carousel .vendu{
     display: flex !important; 
     margin-left: 5px;
     font-size: 13px;
     width: 100%;
     align-items: center;
     flex-wrap: wrap;
     margin-bottom: 2px;
     padding:0 5px;
     margin: 4px 0;
 }
 
 
 .produit_vedete .articles .carousel .vendu span{
    padding: 1px 3px;
    margin-right: 6px;
    background-color: #0a062d14;
    border-radius: 6px;
    margin-bottom: 4px;
    color: #000000;
 }
 
 .produit_vedete .articles .carousel a{
    background-color: #0a062d;
     width: 70%;
     padding: 3px 10px;
     color: white;
     text-decoration: none;
     font-size: 14px;
     display: block;
     transition: all 0.5s ease-in-out;
     display: flex;
     align-items: center;
     justify-content: center;
     position: absolute;
     bottom: 5px;
     
     border-top-right-radius: 10px;
     border-bottom-right-radius: 10px;
 }

 .produit_vedete .articles .carousel a :nth-child(1){
    margin-right: 7px;
 }
 .produit_vedete .articles .carousel a:hover{
     background-color: #2C3E50;
 }
 
 
 .produit_vedete .box2{
     width: 70%;
     height: 50px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-bottom: 10px;
 }
 
 .produit_vedete .box2 span{
    height: 30px;
    width: 40px;
    background-color: #0a062d;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    transition: all 0.3s ease-in-out;
 }
 .produit_vedete .box2 span:hover{
     transform: scale(1.1);
     background-color: #e4144d;
 }
 .produit_vedete .box2 span{
     color: white;
     font-size: 25px;
 }
 


@media screen and (max-width : 1400px){
    .produit_vedete{
        width: 97%;
        margin-bottom: 50px;
     }
     .produit_vedete h1{
         margin-bottom: 30px;
         font-size: 25px;
         padding: 10px 20px;
     }
     
     
     .produit_vedete .box1{
         width: 80%;
         margin-bottom: 50px;
     }
     .produit_vedete .box1 h1{
        font-size: 20px;
     }
     .produit_vedete .box1 .affiche{
        height: 100px;
     }
     .produit_vedete .box1 .affich img{
        height: 100px;
     }
     
     .produit_vedete .articles{
         width: 85%;
     }
     /* .produit_vedete .articles h1{
        font-size: 25px;
     } */
     .produit_vedete .carousel2{
        width: 85%;
     }
     
     .produit_vedete .articles .message{
        font-size: 17px;
        width: 40%;
        padding: 20px 30px;
     }
    
}
@media screen and (max-width : 1000px){
    .produit_vedete{
        width: 99%;
        margin-bottom: 100px;
        margin-top: 50px;
        padding: 80px 0;
     }
     .produit_vedete h1{
         margin-bottom: 30px;
         font-size: 20px;
         padding: 7px 17px;
     }

     .produit_vedete .articles{
        width: 100%;
        padding:0% ;
     }
    
}

@media screen and (max-width : 600px){
    .produit_vedete{
        width: 98%;
        margin-bottom: 50px;
     }
     .produit_vedete h1{
         margin-bottom: 30px;
         font-size: 18px;
         padding: 7px 17px;
     }
     
     .produit_vedete .box1{
         width: 99%;
         margin-bottom: 50px;
     }
     .produit_vedete .box1 h1{
        font-size: 15px;
        text-align: center;
     }

     .produit_vedete .articles{
        width: 100%;
        padding:0% ;
     }
    
}
