@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Nunito&display=swap');

*{
    margin:0 ;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Nunito', sans-serif;
    background-color: #f7f7f7;
     margin: 0;
    padding: 0;
}

.section3{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 50px;
}

.job-offer {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(48, 48, 48, 0.37);
    padding: 30px 20px;
    width: 90%;
    max-width: 800px;
    text-align: center;
    border: 1.5px solid #4848483a;
  }

  .job-offer .box11 {
    width: 90%;
    margin: 0 auto;
  }

  .job-offer .box11 p {
    font-size: 15px;
    margin-top: 5px;
  }

  .job-offer .box2 {
    margin-top: 30px;
    padding: 0 20px;
  }

  .job-offer h2 {
    color: #272727;
    font-size: 24px;
    margin-bottom: 20px;
    text-transform: capitalize;
    letter-spacing: 1px;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
  }

  .company {
    font-weight: bold;
  }

  .location {
    color: #272727;
  }

  .description,
  .requirements,
  .salary {
    color: #272727;
    text-align: center;
  }
  

  .job-offer h3 {
    color: #007bff;
    font-size: 16px;
    margin-top: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .job-offer ul {
    margin-top: 10px;
    margin-left: 20px;
    text-align: left;
  }

  .job-offer ul li {
    color: #272727;
  }

  .job-offer h3+p {
    color: #272727;
    text-align: left;
  }

  .job-offer img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
  }
  .job-offer .box2{
    text-align: left;
  }
 
  .section3 .job-offer .box3{
    margin-top: 30px;
    font-size: 18px;
  }
  .section3 .job-offer .box3 h1{
    font-size: 20px;
  }
  .section3 .job-offer .box3 h2{
    font-size: 16px;
    margin-top: 10px;
    color: #007bff;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    span{
      font-size: 13px;
      color: #272727;
      font-weight: 400;
    }
  }

  .section3 .job-offer .box_info{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 98%;
    flex-wrap: wrap;
    p{
      width: auto;
      display: inline-flex;
      flex-direction: column;
      margin: 10px 20px;
    }
  }
  /* Responsive Design */

  @media only screen and (max-width: 600px) {
    .job-offer .box11 {
      width: 99%;
      margin: 0 auto;
    }
    .job-offer .box11 .description p  {
      font-size: 12px;
      text-align: center;
    }
    .job-offer {
      width: 99%;
      max-width: 99%;
    }
    .job-offer .box2 {
      margin-top: 30px;
      padding: 0 5px;
    }
    .job-offer h3 {
      font-size: 13px;
    }
    .section3 .job-offer .box3 h2{
      font-size: 16px;
      span{
        font-size: 12px;
      }
    }
    .section3 .job-offer .box2 p {
      font-size: 12px;
    }
    .job-offer li{
      font-size: 12px;
    }

    .job-offer img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 50%;
    }

    .section3 .job-offer .info_sup{
      width: 99%;
      p{
        width: auto;
        display: flex;
        flex-direction: column;
        margin: 10px 20px;
      }
    }
  }

.section3 form button:hover{
    background-color: #F39C12;
}
.section3 form .msg001{
   font-size: 17px;
    padding: 5px 20px;
    font-style: italic;
    color: #ffffff;
    background-color: rgba(255, 0, 0, 0.469);
    margin-top: 10px;
}

.section3 form .btn001{
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    transition: all 0.3s;
    cursor: pointer;
}
.btn2{
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    transition: all 0.3s;
    cursor: pointer;
}








.section3  .form_off{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    padding: 20px;
    background-color: #48484831;
    position: relative;
    width: 50%;
    margin-top: 80px;
}

 .container-b{
    position: absolute;
    background-color: #2c3e5080;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    left: -100%;
}
.container-b img{
   height: 30px;
   width: 30px;
   position: absolute;
   z-index: 6;
   top: 20px;
   right: 20px;
   cursor: pointer;
}

.active{
    left: 0;
    transition: all 0.5s ease-out;
}
  
.form_off form{
    display: flex;
    flex-direction: column;
    width: 95%;
    padding:20px 10px; 
    align-items: center;
    justify-content: center;
    background-color: #ffff;
    position: relative;
}
.form_off form .box{
    display: flex;
   flex-direction: column;
   margin: 10px;
   width: 80%;
}
.form_off form label{
    color: #3451c6;
}
.form_off form .box input,textarea{
    border-radius: 7px;
    font-size: 15px;
    padding: 6px;
    border:2px solid #0000004d;
    outline: none;
    transition: all 0.3s;
}

.form_off form .box select{
  border-radius: 7px;
  font-size: 15px;
  padding: 6px;
  border:2px solid #0000004d;
  outline: none;
  transition: all 0.3s;
}
.form_off form .box input:hover{
    background-color: #cae7ed2a;
    border:2px solid #2b3cff94;
    box-shadow: 0 0 2px 2px #9da5ff94;
}
.form_off form .box textarea:hover{
    background-color: #cae7ed2a;
    border:2px solid #2b3cff94;
    box-shadow: 0 0 2px 2px #9da5ff94;
}
.form_off form #valider{
    padding: 7px 15px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #ffffff;
    background-color: #007bff;
    transition: all 0.3s;
    border-radius: 7px;
    cursor: pointer;
    display: inline;
}
.form_off form #valider:hover{
    background-color: #F39C12;
}


@media screen and (max-width: 1050px) {
  .section3  .form_off {
    width: 80%;
  }
}

@media screen and (max-width: 700px) {
  .section3  .form_off {
    width: 98%;
    padding: 5px;
  }
  .section3  .form_off form{
    width: 98%;
    padding: 0;

  }

  .section3  .form_off form img{
    top: 10px;
    right: 10px;
    height: 20px;
    width: 20px;
  }

  .container-b{
  
    top: 80px;
}

.active{
    left: 0;
    transition: all 0.5s ease-out;
}

.form_off form .box{
   width: 90%;
}
.form_off form label{
    color: #3451c6;
    font-size: 13px;
}
.form_off form .box input,textarea{
    border-radius: 7px;
    font-size: 14px;
    padding: 6px;
    border:2px solid #0000004d;
    outline: none;
    transition: all 0.3s;
}

.form_off form .box select{
  border-radius: 7px;
  font-size: 15px;
  padding: 6px;
  border:2px solid #0000004d;
  outline: none;
  transition: all 0.3s;
}
}





.container_box10 {
  border: 1px solid rgba(165, 165, 165, 0.337);
  width: 98%;
  padding: 30px 10px;
  margin-top: 20px;
  background-color: #ffffff;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h2{
    margin:20px 10px;
    font-size: 18px;
  }


  .slider {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  
     .carousel {
      width: 470px;
      height: 200px;
      display: flex;
      align-items: center;
      background-color: rgba(247, 247, 247, 0.499);
      border-radius: 8px;
      overflow: hidden;
      border: 1px solid rgba(105, 104, 104, 0.411);
      box-shadow: 7px 6px 10px -5px #00000093;
      transition: all 0.5s ease-in-out;
      position: relative;
      margin: 10px 10px;
      background-color: #ffffff;
      padding: 5px 10px;
    }
    
     .carousel .info-box {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding-bottom: 15px;
    }
     .carousel:hover {
      transform: scale(1.05);
    }
    
     .message {
      font-size: 14px;
      width: 350px;
      text-align: center;
      padding: 20px 30px;
      border: 1px solid #ffffff;
      border: 1px solid #2c3e502d;
      box-shadow: 8px 6px 7px 0px #2c3e5080;
    }
     .carousel img {
      height: 80px;
      width: 80px;
      max-width: 80px;
      min-width: 80px;
      object-fit: cover;
      border-radius: 50%;
      border: 2px solid #2c3e50;
      margin-right: 20px;
    }
     .carousel .p {
      /* background-color: #0a062da4; */
      width: 100%;
      font-size: 20px;
         border-bottom-right-radius: 15px;
         margin-bottom: 5px;
    }
     .carousel .p strong {
      text-transform: uppercase;
      font-size: 16px;
    }
    
     .carousel .poste{
      font-size: 13px;
      margin-bottom: 10px;
    }
    
     .carousel #nom {
      font-weight: 400;
      text-align: center;
      overflow: hidden;
      font-size: 13px;
      margin-top: 4px;
      max-height: 20px;
      width: 100%;
      color: #3451c6;
      position: absolute;
      bottom: 35px;
      width: 100%;
      text-align: center;
      left: 0;
    }
     .carousel p span {
      color: #f39c12;
      font-size: 13px;
      margin-right: 5px;
    }
    
     .carousel .box_vendu {
      display: flex;
      width: 100%;
    }
    
     .carousel .vendu {
      display: flex !important;
      font-size: 15px;
      width: 100%;
      margin-bottom: 40px;
    }
    
     .carousel .vendu p {
      font-size: 12px;
      margin-bottom: 5px;
      width: 100%;
      display: flex;
      flex-direction: column;
    }
     .carousel .vendu .ville {
      font-size: 12px;
    }
    
     .carousel .vendu span {
      padding: 5px 8px;
      margin-right: 6px;
      background-color: #0a062d;
      border-radius: 10px;
      margin-bottom: 4px;
    }
    
     .carousel a {
      background-color: #0a062d;
      width: 100%;
      padding: 4px 10px;
      color: white;
      text-decoration: none;
      font-size: 14px;
      display: block;
      transition: all 0.5s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 3px;
      left: 0%;
    }
    
     .carousel a :nth-child(1) {
      margin-right: 7px;
    }
     .carousel a:hover {
      background-color: #2c3e50;
    }
    
     .box2 {
      width: 70%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    
     .box2 span {
      height: 30px;
      width: 40px;
      background-color: #0a062d;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 7px;
      transition: all 0.3s ease-in-out;
    }
     .box2 span:hover {
      transform: scale(1.1);
      background-color: #f39c12;
    }
     .box2 span {
      color: white;
      font-size: 25px;
    }
    @media screen and (max-width: 1320px) {
      
    }
    
    @media screen and (max-width: 1220px) {
       h1{
        font-size: 25px;
      }
    
       .box1 {
        width: 80%;
        margin-bottom: 50px;
      }
       .box1 h1 {
        font-size: 16px;
      }
       .box1 .affiche {
        height: 300px;
        border-radius: 10px;
      }
     
    }
    @media screen and (max-width: 650px) {
      .container_box10 {
        width: 99%;
        padding: 20px 5px;
      }
       h1{
        font-size: 14px;
      }
    
       .box1 {
        width: 98%;
        margin-bottom: 40px;
      }
       .box1 h1 {
        font-size: 16px;
      }
       .box1 .affiche {
        height: 200px;
        border-radius: 10px;
      }
    
       .carousel {
        width: 350px;
        height: 200px;
        margin: 10px 5px;
        padding: 5px 5px;
      }
      
       .message {
        font-size: 12px;
        width: 300px;
        text-align: center;
        padding: 10px 20px;
      }
       .carousel img {
        height: 70px;
        width: 70px;
        max-width: 70px;
        min-width: 70px;
        margin-right: 10px;
      }
       .carousel .p {
        font-size: 16px;
           margin-bottom: 5px;
      }
       .carousel .p strong {
        font-size: 14px;
      }
      
       .carousel .poste{
        font-size: 11px;
        margin-bottom: 10px;
      }
      
       .carousel #nom {
        font-size: 9px;
        bottom: 35px;
      }
       .carousel p span {
        font-size: 11px;
      }
      
       .carousel .vendu {
        font-size: 10px;
      }
      
       .carousel .vendu p {
        font-size: 10px;
      }
       .carousel .vendu .ville {
        font-size: 10px;
      }
      
       .carousel a {
        padding: 3px 10px;
        text-decoration: none;
        font-size: 12px;
      }
     
    }
  }


  @media screen and (max-width: 650px) {
    .container_box10 {
      width: 99%;
      padding: 20px 5px;
    }
    .container_box10 h2 {
      font-size: 18px;
    }
  }
}