/*--------------------------------------------------------------
  Variables
--------------------------------------------------------------*/


/*--------------------------------------------------------------
  Styles globaux
--------------------------------------------------------------*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  ;
  margin: 0;
  padding: 0;
}

header {
  background-color: #d7d7d7;
  padding: 40px;
  text-align: center;
  
}
header h1{
  width: 500px;
  margin-left: 200px;
  font-size: 30px;
  padding: 0 20px;
}
header h2{
  width: 400px;
  margin-left: 300px;
}

.container {
  width: 793px;
  height: 1122px;
  border: 1.5px solid #ddd;
  margin:0 auto;
  position: relative;
}
.container .img{
  position: absolute;
  width: 160px;
  height: 170px;
  object-fit: cover;
  top: 30px;
  left: 40px;
  border: 1.5px solid #ddd;
}

.container .container-box{
  display: flex;
}

.container .box1{
  width: 250px;
  height: 880px;
  position: relative;
  border-right: 3px solid #000000;
  margin-top: 30px;
  padding-top: 40px;
}
.container .box1 h1{
  width: 80%;
  text-align: center;
  padding: 3px 20px;
  background-color: #000000;
  color: #ddd;
  margin: 15px auto;
  font-size: 16px;
  display: flex;
  align-items: center;
  border-radius: 4px;
}
.container .box1 h1 img{
  height: 20px;
  width: 20px;
  margin-right: 25px;
}
.container .box1 .bb{
  display: flex;
  align-items: center;
  width: 170px;
  margin: 15px auto;
  
}
.container .box1 .bb img{
  height: 25px;
  width: 25px;
  margin-right: 25px;
}
.container .box1 .bb p{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 13px;
}
.container .box1 ul{
  width: 80%;
  margin: 0 auto;
}
.container .box1 ul li{
  font-size: 14.5px;
  list-style-type: square;
  width: 100%;
  margin: 2px auto;
  margin-left:10px ;
}
.container .box1 .reseaux{
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-around;
  margin: 5px auto;
}
.container .box1 .resaux img{
  height: 30px;
  width: 30px;
  
}

.container .box2{
  width: 600px;
  height: 950px;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container .box2 h1{
  font-size: 18px;
  width: 70%;
  margin: 15px auto;
  background-color: #000000;
  color: #ddd;
  padding: 2px 20px;
  border-radius: 4px;
}
.container .box2 p{
  font-size: 13px;
  width: 80%;
  margin: 10px auto;
}

.container .box2 .div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 88%;
  margin: 10px auto;
}
.container .box2 .div div{
  display: flex;
  align-items: center;
  flex-direction: column;

}
.container .box2 .div h4{
  width: 380px;
  font-size: 15px;
  margin-bottom: -10px;
}
.container .box2 .div p{
  font-size: 13px;
  width: 380px;
}
.container .box2 .div span{
  font-size: 11px;
  width: 100px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container .box2 .div strong{
  padding: 5px;
  background-color: #303030;
  border-radius: 50%;
  margin-right:20px ;
}

.container .box2 ul{
  width: 80%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  position: relative;
  flex-wrap: wrap;
}
.container .box2 ul li{
  list-style-type: circle;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  margin:5px 30px;
}
.container .box2 .div-comp {
  width: 80%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  position: relative;
  flex-wrap: wrap;
}
.container .box2 .comp{
  padding: 3px 10px;
  font-size: 13px;
  border-radius: 5px;
  background-color: #e2e2e2;
  margin: 5px 10px;
}
