@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Lobster&display=swap");
* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
}





.service{
  width: 100%;
  padding: 40px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.service .container{
  width: 400px;
  height: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid #a2a2a2;
  border-radius: 20px;
  margin: 30px;
  /* background-color: rgba(210, 238, 255, 0.127); */
  box-shadow: 7px 7px 5px 0 #a2a2a2;
}
.service .container1{
  background-color: rgba(200, 200, 200, 0.127);
}

.service .container h1{
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  width: 100%;
}
.service .container h3{
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  width: 100%;
  border-top: 2px solid #a2a2a2;
  border-bottom: 2px solid #a2a2a2;
  border-radius: 10px;
}
.service .container ul{
 width: 100%;
 margin-top: 20px;
}
.service .container li{
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 17px;
  margin-top: 15px;
 }
 .service .container li img{
  width: 30px;
  height: 30px;
  border: none;
  margin-right: 30px;
 }
 .service .container .box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 }
 .service .container .box a{
  padding: 10px 30px;
  font-size: 16px;
  color: #ffffff;
  background-color: #0066ff;
  margin-top: 20px;
  border-radius: 10px;
 }
 .service .container .box .a{
  background-color: #ffc400;
 }